.ArrangeModule {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    .AM-layer {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.6);
    }

    .AM-main{
        @include shadow(0,5px,20px,0.3);
        position: relative;
        z-index: 1;
        width: 493px;
        background: #353535;

        .AM-header {
            width: 100%;
            height: 40px;
            background: #545454;
            font-size: 14px;
            color: #fff;
            //padding-left: 5px;

            .icon {
                width: 30px;
                height: 40px;
                background: url("img/button-icon.svg") no-repeat -640px -240px;
                display: block;
                //margin: 0 5px;
            }

            .close-btn {
                width: 40px;
                height: 40px;
                background: url("img/button-icon.svg") no-repeat -120px -240px;
                display: block;
                cursor: pointer;

                &:hover {
                    background-position: -120px -200px;
                }
            }
        }

        .AM-content{
            width: 100%;
            padding: 0 8px;

            .AM-title {
                width: 100%;
                height: 29px;
                line-height: 29px;
                font-size: 12px;
                color: #b5b5b5;
            }

            .AM-module {
                position: relative;
                width: 477px;
                height: 204px;
                border: 1px solid #272727;
                overflow: hidden;

                .AM-scroll {
                    position: absolute;
                    left: 0;
                    right: -20px;
                    height: 204px;
                    overflow: scroll;
                    overflow-x: hidden;
                }

                .AM-table {
                    width: 477px;
                    margin: 0;
                    padding: 0;
                    clear: both;

                    li{
                        width: 119px;
                        height: 29px;
                        border-right: 1px solid #292929;
                        border-bottom: 1px solid #292929;
                        cursor: pointer;
                        float: left;

                        &:hover {
                            color: #fff;
                            .li-icon{ background-position: -400px -240px; }
                        }

                        &:active {
                            background: #232323;
                            color: #b5b5b5;
                            .li-icon{ background-position: -400px -200px; }
                        }

                        &.active {
                            color: #fff;
                            .li-icon{ background-position: -400px -240px; }
                            .choose-btn{ background: #ffa800;}
                        }

                        &:nth-child(4n){
                            width: 118px;
                            border-right: none;
                        }

                        &.add-btn {
                            &:hover .icon span{background: #fff;}

                            &:active {
                                background: #232323;
                                .icon span{ background: #b5b5b5;}
                            }

                            .icon{
                                position: relative;
                                width: 14px;
                                height: 14px;

                                span{
                                    position: absolute;
                                    background: #151515;
                                }

                                .heng{
                                    left: 0;
                                    top: 6px;
                                    width: 14px;
                                    height: 2px;
                                }

                                .shu {
                                    left: 6px;
                                    top: 0;
                                    width: 2px;
                                    height: 14px;
                                }
                            }
                        }

                        .li-icon {
                            width: 24px;
                            height: 24px;
                            background: url("img/button-icon.svg") no-repeat -400px -280px;
                            display: block;
                            margin: 0 2px 0 1px;
                        }

                        .title{
                            height: 28px;
                        }

                        .TitleName {
                            max-width: 70px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .choose-btn {
                            @include border-radius(5px);
                            width: 10px;
                            height: 10px;
                            margin-right: 4px;
                            background: #151515;
                        }
                    }
                }
            }

            .btn-group{
                width: 100%;
                height: 66px;

                .btn {
                    @include border-radius(2px);
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    color: #151515;
                    cursor: pointer;
                }

                .delete-btn {
                    border: 1px solid #7b7b7b;
                    color: #7b7b7b;
                    margin-right: 40px;

                    &:hover { background: #7b7b7b; color: #151515; }
                    &:active { background: #545454; border-color: #545454; color: #151515; }
                }

                .top-btn {
                    background: #b5b5b5;

                    &:hover { background: #fff; }
                    &:active { background: #545454; }
                }
            }
        }

        .error {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
            text-align: center;
            font-size: 12px;
            color: #FFA800;
        }

        .delete-layer {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;

            .delete-mark {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                background: rgba(#000, 0.6);
            }

            .delete-main {
                @include shadow(0,5px,20px,0.3);
                position: relative;
                z-index: 1;
                width: 340px;
                height: 208px;
                background: #353535;

                .delete-header {
                    width: 100%;
                    height: 40px;
                    background: #545454;
                    font-size: 14px;
                    color: #fff;
                    //padding-left: 5px;

                    .icon {
                        width: 30px;
                        height: 40px;
                        background: url("img/button-icon.svg") no-repeat -720px -240px;
                        display: block;
                        //margin: 0 5px;
                    }
                }

                .delete-content {
                    width: 100%;
                    padding-top: 14px;

                    span{
                        width: 60px;
                        height: 78px;
                        display: block;
                        margin: 0 auto;
                        background: url("img/delete.svg") no-repeat;
                    }

                    p{
                        width: 100%;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        margin: 0;
                        font-size: 12px;
                        color: #ffa800;
                    }

                    .btn-group{
                        width: 100%;
                        height: 24px;

                        .btn {
                            @include border-radius(2px);
                            width: 80px;
                            height: 24px;
                            line-height: 24px;
                            font-size: 14px;
                            text-align: center;
                            color: #151515;
                            cursor: pointer;
                        }

                        .delete-btn {
                            background: #7b7b7b;
                            margin-right: 40px;

                            &:hover { background: #b5b5b5; }
                            &:active { background: #545454; }
                        }

                        .cancel-btn {
                            background: #b5b5b5;

                            &:hover { background: #fff; }
                            &:active { background: #545454; }
                        }
                    }
                }
            }
        }
    }
}