.CreateModule {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;

    .CM-layer {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.6);
    }

    .CM-main{
        @include shadow(0,5px,20px,0.3);
        position: relative;
        z-index: 1;
        width: 440px;
        background: #353535;

        .CM-header {
            width: 100%;
            height: 40px;
            background: #545454;
            font-size: 14px;
            color: #fff;
            //padding-left: 5px;

            span{
                width: 30px;
                height: 40px;
                background: url("img/button-icon.svg") no-repeat -640px -240px;
                display: block;
                //margin: 0 5px;
            }

        }

        .CM-content {
            width: 100%;
            padding: 10px 30px 26px 30px;

            .name {
                width: 100%;
                height: 32px;
                line-height: 32px;
                font-size: 12px;
                color: #b5b5b5;
            }

            input {
                @include border-radius(2px);
                width: 100%;
                height: 32px;
                outline: none;
                border: none;
                background: #232323;
                line-height: 32px;
                font-size: 14px;
                color: #b5b5b5;
                padding-left: 20px;
            }

            .top-btn {
                width: 100%;
                height: 34px;
                font-size: 12px;
                color: #b5b5b5;
                cursor: pointer;
                margin-bottom: 4px;

                span {
                    width: 14px;
                    height: 14px;
                    display: block;
                    margin-left: 3px;
                    background: url("img/button-icon.svg") no-repeat -320px -200px;

                    &.active {
                        background: url("img/button-icon.svg") no-repeat -320px -240px;
                    }
                }
            }

            .btn-group {
                width: 100%;
                height: 30px;

                .btn {
                    @include border-radius(2px);
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    text-align: center;
                    color: #151515;
                    cursor: pointer;
                }

                .cancel-btn {
                    background: #7b7b7b;
                    margin-right: 40px;

                    &:hover { background: #b5b5b5; }
                    &:active { background: #545454; }
                }

                .sure-btn {
                    background: #b5b5b5;

                    &:hover { background: #fff; }
                    &:active { background: #545454; }
                }
            }
        }

        .error{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #FFA800;
        }
    }
}