#DBItemView {
  position: fixed;
  left: 37px;
  top: 37px;
  width: 740px;
  bottom: 1px;
  background: #232323;
  overflow: hidden;
  z-index: 50;

  &.keep {
    height: 30px;
    transition: 0.5s;
  }

  #DBItemViewHeader {
    width: 100%;
    height: 30px;
    background: #313131;

    span {
      font-size: 12px;
      color: #b5b5b5;
      padding: 4px 12px;
    }

    .btn {
      width: 32px;
      height: 26px;
      background: url("img/button-icon.svg") no-repeat -1240px 0;

      &:hover {
        background: url("img/button-icon.svg") no-repeat -1240px -40px;
      }
    }
  }

  #DBItemViewBody {
    .ant-form {
      padding: 15px;
    }
    .db-item-id {
      input {
        width: 170px;
      }
    }
    .ant-col-r {
      .container-scroll {
        position: relative;
        display: inline-block;
        background-color: #151515;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 650px;
        border: 1px solid #353535;
        border-radius: 2px;
        &::-webkit-scrollbar {
          width: 10px;
          height: 10px;
          background-color: #353535;
        }
        &::-webkit-scrollbar-thumb {
          cursor: pointer;
          border-radius: 0;
          background-color: #232323;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        .item-container {
          padding: 5px;
          height: 100%;
          .item {
            width: 130px;
            display: inline-block;
            vertical-align: middle;
            background-color: #353535;
            border-right: 1px solid #232323;
            &:first-child {
              border-radius: 2px 0 0 2px;
            }
            &:last-child{
              border-radius: 0 2px 2px 0;
              border-right: 0;
            }
            .inner-item {
              height: 34px;
              padding: 4px;
              &:first-child {
                border-bottom: 1px solid #232323;
              }
              .title {
                @extend %font-omitted;
              }
              .drop-down {
                background-color: #232323;
                border-radius: 2px;
                height: 100%;
                position: relative;

                .dropDown-div {
                  border: 1px solid #232323;
                  border-radius: 2px;
                  cursor: pointer;
                  transition-duration: 0.3s;
                  .ant-input {
                    background-color: #232323;
                    border: none;
                    height: auto;
                    border-radius: 2px;
                    &:hover {
                      background-color: #151515 !important;
                      box-shadow: none !important;
                    }
                    &:active,
                    &:focus {
                      background-color: #353535 !important;
                      box-shadow: none !important;
                      color: white;
                    }
                  }
                  .ant-fade-input {
                    &:active,
                    &:focus {
                      background-color: #151515 !important;
                      color: #666 !important;
                    }
                  }

                  &.active {
                    border: 1px solid #7b5815;
                  }
                  &.on-focus,
                  &:hover {
                    background-color: #151515;
                    .ant-input {
                      background-color: #151515;
                    }
                  }
                  .ant-form-item-control {
                    width: 95px;
                    margin: 2px;
                  }
                }

                .icon {
                  position: absolute;
                  right: 2px;
                  top: 0;
                  width: 20px;
                  height: 22px;
                  background: url("img/button-icon.svg") no-repeat -1080px -200px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    .ant-dropdown-menu    {
      background: #353535;
      border: none;
      box-shadow: none;
      margin-top: -4px;
      border-radius: 0 0 2px 2px;
    }
    .ant-dropdown-menu-item {
      color: #666;
      padding: 2px 14px;
    }
    .ant-dropdown-menu-item-active {
      background: #151515;
    }
    .ant-dropdown-menu-item:first-child {
      border-radius: 0;
    }
    .ant-dropdown-menu-item:last-child {
      border-radius: 0 0 2px 2px;
    }
  }
}