
#DesignView-Container{

    .DesignView {
        margin: 0;
        padding: 0;
        position: relative;
        top: 60px;
        left: 0;
        line-height: 0.74;
        .h_ruler{
            background: url('./img/h_line.jpg') repeat-x;
            width:100%;
            height: 14px;
            position: absolute;
            left: 0;
            top: -14px;
            cursor: n-resize;
        }
        .v_ruler{
            background: url('./img/v_line.jpg') repeat-y;
            width:13px;
            height:100% ;
            position: absolute;
            left: -13px;
            top: 0;
            cursor: e-resize;
        }
        //&:before{
        //    content: '';
        //    background: url('./img/hline.jpg') no-repeat;
        //    width:100%;
        //    height: 14px;
        //    position: absolute;
        //    left: 0;
        //    top: -14px;
        //    cursor: n-resize;
        //}
        //&:after{
        //    content: '';
        //    background: url('./img/vline.jpg') no-repeat;
        //    width: 13px;
        //    height: 100%;
        //    position: absolute;
        //    left:-13px;
        //    top: 0;
        //    cursor: e-resize;
        //}
        canvas {
            background: #fff;
            line-height: 1.5;
        }
    }
}