$lineColor:#4AFFFF;

#iH5-App-Container{
    position: relative;
    top:-17px;
}
#DesignView-Container{
    .canvas-wraper{
        position: absolute;
        left: 50%;
        margin-left: -320px;
    }
    #line_top{
        width: 100%;
        height: 0;
        border-bottom: 1px solid $lineColor;
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 49;
    }
    .rulerWLine{
        width: 100%;
        height: 3px;
        cursor: n-resize;
        position: absolute;
        left: 0;
        top: 0;
        div{
            width:100%;
            height:1px;
            border-bottom: 1px solid $lineColor;
        }
    }
    .rulerHLine{
        width:3px;
        height: 100%;
        cursor: e-resize;
        position: absolute;
        left: 0;
        top: 0;
        div{
            width:2px;
            height:100%;
            border-right: 1px solid $lineColor;
        }
    }
    #line_left{
        width: 0;
        height: 100%;
        border-right: 1px solid $lineColor;
        position: absolute;
        left: -1px;
        top: 0;
        z-index: 49;
    }
    .DesignView {
        margin: 0;
        padding: 0;
        position: relative;
        top: 60px;
        left: 0;
        line-height: 0.74;

        .h_ruler_wraper{
            position: absolute;
            width: 100%;
            height: 14px;
            overflow: hidden;
            left: 0;
            top: -14px;
        }
        #h_ruler{
            background: url('./img/h_line.jpg') repeat-x;
            width: 130%;
            height: 100%;
            cursor: n-resize;
            li{
                width: 100px;
                height: 100%;
                text-align: left;
                float: left;
                font-size: 10px;
                color: #535353;
                line-height: 1.3;
                padding-left: 4px;
            }
        }
        #v_ruler{
            background: url('./img/v_line.jpg') repeat-y;
            width:13px;
            height:100% ;
            position: absolute;
            left: -13px;
            top: 0;
            cursor: e-resize;
            overflow: hidden;
            li{
                width: 100%;
                height: 100px;
                span{
                    font-size: 10px;
                    color: #535353;
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    display: block;
                    padding-left: 5px;
                }
            }
        }
        canvas {
            //background: #fff;
            line-height: 1.5;
        }
    }
}