.EditDb {
    position: absolute;
    left: 37px;
    top: 36px;
    bottom: 0;
    z-index: 99;
    width: 800px;

    .ED-header {
        width: 100%;
        height: 30px;
        line-height: 30px;
        background: #353535;
        font-size: 14px;
        color: #b5b5b5;
        padding-left: 10px;
    }

    .ED-content {
        position: absolute;
        top: 30px;
        bottom: 0;
        width: 100%;
    }

    .ED-left {
        width: 192px;
        height: 100%;
        border-right: 1px solid #151515;
        overflow: hidden;
        transition: 500ms;

        &.action {
            width: 38px;
            transition: 500ms;
        }
    }
}

.Condition {
    position: relative;
    width: 100%;
    height: 100%;
    background: #282828;

    .expand-layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &.action{
            animation: editDb-small 800ms;
        }

        .expand-btn {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 32px;
            font-size: 14px;
            color: #858585;
            cursor: pointer;
            text-align: center;

            &:hover {
                color: #fff;
                .icon {
                    background-position: -840px -240px;
                }
            }

            .icon {
                width: 18px;
                height: 18px;
                margin: 7px auto 0 auto;
                display: block;
                background: url("img/button-icon.svg") no-repeat -840px -200px;
            }
        }
    }

    .Condition-layer {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        &.action{
            animation: editDb-big 800ms;
        }
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;

        li{
            width: 100%;
            height: 54px;
            padding: 10px 12px 0 12px;

            &.line {
                height: 11px;

                span{
                    width: 100%;
                    height: 1px;
                    display: block;
                    background: #353535;
                }
            }

            label {
                width: 100%;
                height: 23px;
                line-height: 23px;
                font-size: 12px;
                color: #858585;
            }

            input {
                @include border-radius(2px);
                width: 100%;
                height: 22px;
                line-height: 22px;
                background: #353535;
                font-size: 12px;
                color: #fff;
                border: none;
                outline: none;
                shadow: none;
                padding-left: 6px;
            }
            input::-webkit-input-placeholder{
                color: #858585;
            }

            .input-content {
                @include border-radius(2px);
                overflow: hidden;
            }

            .input-layer {
                position: relative;
                background: #353535;

                .unit {
                    padding: 0 4px 0 9px;
                    font-size: 12px;
                    color: #858585;
                    line-height: 22px;
                }
            }
            .btn-group {
                width: 11px;
                height: 22px;
                background: #151515;
                padding: 1px;

                .btn {
                    width: 100%;
                    height: 10px;
                    display: block;
                    background: url("img/button-icon.svg") no-repeat ;
                    cursor: pointer;

                    &.top-btn {
                        background-position: -880px -200px;
                        &:hover { background-position: -880px -240px; }
                        &:active { background-position: -880px -280px; }
                    }

                    &.bottom-btn {
                        background-position: -920px -200px;
                        &:hover { background-position: -920px -240px; }
                        &:active { background-position: -920px -280px; }
                    }
                }
            }
        }
    }

    .putAway-btn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #858585;
        padding-right: 11px;
        cursor: pointer;

        &:hover {
            color: #fff;
            .icon {
                background-position: -840px -240px;
            }
        }

        .icon {
            width: 18px;
            height: 18px;
            margin: 0 11px 0 0;
            display: block;
            background: url("img/button-icon.svg") no-repeat -840px -200px;
        }
    }
}

.DbTable {
    position: relative;
    width: 100%;
    height: 100%;
    background: #232323;
    padding: 0 18px;

    .DT-header {
        width: 100%;
        height: 26px;

        p {
            margin: 0 auto;
            line-height: 26px;
            font-size: 14px;
            color: #858585;
        }

        .btn-group {
            height: 100%;

            .btn {
                @include border-radius(2px);
                width: 40px;
                height: 18px;
                background: #545454;
                color: #b5b5b5;
                font-size: 12px;
                cursor: pointer;
                margin-left: 6px;

                &:hover {
                    color: #151515;
                    background: #b5b5b5;
                }

                &:active {
                    color: #353535;
                    background: #292929;
                }
            }
        }
    }

    .DT-main {
        position: absolute;
        top: 26px;
        bottom: 54px;
        left: 18px;
        right: 18px;
        //width: 100%;
        overflow: hidden;

        .DT-scroll {
            position: absolute;
            left: 0;
            right: -20px;
            top: 0;
            bottom: 14px;
            overflow: auto;
            overflow-x: hidden;
            border-top: 1px solid #434343;
            border-left: 1px solid #434343;
        }

        .DT-content {
            //width: 928px;

            table{
                margin: 0;
                padding: 0;
                border-collapse:collapse;

                thead,tbody{
                    td:nth-child(1){
                        width: 17px;
                        min-width: 17px;
                        background: #39311f;
                        color: #ffa800;
                        padding: 18px 0;

                        .shift {
                            display: block;
                            margin-top: -8px;
                            &:first-child{
                                margin-top: 0;
                            }
                        }
                    }
                    td{
                        position: relative;
                        min-width: 98px;
                        max-width: 278px;
                        padding: 18px 20px;
                        text-align: center;
                        font-size: 12px;
                        margin: 0;
                        border-right: 1px solid #434343;
                        border-bottom: 1px solid #434343;
                        color: #b5b5b5;
                        background: #222222;

                        input{
                            position: absolute;
                            left: 0;
                            top:0;
                            z-index: 1;
                            text-align: center;
                            font-size: 12px;
                            line-height: 20px;
                            color: #ffa800;
                            background: #222222;
                            padding: 0;
                            border: none;
                            text-decoration: none;
                        }
                    }
                }

                thead{
                    td {
                        background: #2b2721;
                        color: #FFA800;
                    }
                }

                tbody,tr{
                    td{

                    }
                }
            }
        }

        .no-tips {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            font-size: 18px;
            color: #858585;
        }

        .add-btn{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 14px;
            z-index: 2;
            width: 38px;
            background: #292929;
            border: 1px solid #5d513a;
            border-bottom: 1px solid #292929;

            .btn {
                width: 100%;
                height: 53px;
                border-bottom: 1px solid #4a4740;
                background: #2b2721;
                font-size: 12px;
                color: #FFA800;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    .icon {background-position: -800px -240px;}
                }

                &:active {
                    color: #fff;
                    .icon {background-position: -800px -280px;}
                }

                .icon {
                    width: 18px;
                    height: 18px;
                    display: block;
                    margin: 9px auto 3px auto;
                    background: url("img/button-icon.svg") no-repeat -800px -200px;
                }
            }
        }

        .scroll-div {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 3;
            width: 100%;
            height: 14px;

            .icon {
                width: 18px;
                height: 14px;
                border: 1px solid #434343;
                background: #39311f;
            }

            .scroll {
                height: 14px;
                background: #545454;
                padding: 2px;

                span{
                    width: 100%;
                    height: 100%;
                    background: #353535;
                }
            }
        }
    }

    .DT-footer {
        position: absolute;
        bottom: 0;
        left: 18px;
        right: 18px;
        height: 54px;

        .left {
            font-size:12px;
            color: #b5b5b5;
            height: 32px;

            .account ,
            .page{
                margin-right: 5px;
            }

            .now-page {
                width: 90px;
                text-align: center;
            }

            .btn {
                @include border-radius(2px);
                width: 52px;
                height: 18px;
                background: #545454;
                color: #b5b5b5;
                font-size: 12px;
                cursor: pointer;
                //margin-left: 6px;

                &:hover {
                    color: #151515;
                    background: #b5b5b5;
                }

                &:active {
                    color: #353535;
                    background: #292929;
                }
            }
        }

        .right {
            height: 54px;
            padding-top: 10px;

            .btn {
                @include border-radius(2px);
                width: 98px;
                height: 26px;
                font-size: 14px;
                color: #151515;
                cursor: pointer;
            }

            .cancel-btn {
                background: #7b7b7b;
                margin-right: 10px;

                &:hover { background: #b5b5b5; }
                &:active { background: #545454; }
            }

            .save-btn {
                background: #b5b5b5;

                &:hover { background: #fff; }
                &:active { background: #545454; }
            }
        }
    }

    .Dt-pop {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100%;

        .pop-layer{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }

        .pop-main {
            position: relative;
            z-index: 1;
            width: 320px;
            height: 232px;

            .pop-header {
                width: 320px;
                height: 40px;
                font-size: 14px;
                color: #fff;
                background: #545454;
                padding-left: 30px;
            }

            .pop-content{
                width: 100%;
                height: 192px;
                background: #353535;
                padding: 10px 30px 0 30px;

                .title {
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #b5b5b5;

                    span{
                        color: #ffa800;
                    }
                }

                .btn-group{
                    @include border-radius(2px);
                    width: 100%;
                    height: 24px;
                    border: 1px solid #7b7b7b;

                    .btn {
                        font-size: 14px;
                        color: #7b7b7b;
                        cursor: pointer;
                        background: #353535;

                        &.active {
                            color: #353535;
                            background: #7b7b7b;
                        }
                    }
                }

                input {
                    @include border-radius(2px);
                    width: 100%;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    color: #b5b5b5;
                    border: none;
                    outline: none;
                    background: #232323;
                    padding-left: 20px;
                }

                .pop-footer {
                    height: 63px;

                    .btn {
                        @include border-radius(2px);
                        width: 92px;
                        height: 26px;
                        font-size: 14px;
                        color: #151515;
                        cursor: pointer;
                    }

                    .cancel-btn {
                        background: #7b7b7b;
                        margin-right: 40px;

                        &:hover { background: #b5b5b5; }
                        &:active { background: #545454; }
                    }

                    .save-btn {
                        background: #b5b5b5;

                        &:hover { background: #fff; }
                        &:active { background: #545454; }
                    }
                }
            }
        }
    }
}