.EventBox {
    position: fixed;
    left: 36px;//296px;
    top: 37px;
    //bottom: 201px;
    width: 733px;
    //height: 716px;
    bottom: 1px;
    background: #232323;
    overflow: hidden;
    z-index: 50;

    &.keep {
        height: 30px;
        transition: 0.5s;
    }

    .EB--title {
        width: 100%;
        height: 30px;
        background: #313131;

        span {
            font-size: 12px;
            //color: #fffefe;
            color: #b5b5b5;
            padding-left: 12px;
        }

        .btn {
            width: 32px;
            height: 26px;
            background: url("img/button-icon.svg") no-repeat -1240px 0;

            &:hover {
                background: url("img/button-icon.svg") no-repeat -1240px -40px;
            }
        }
    }

    .EB--content-layer {
        position: absolute;
        left: 0;
        right: -20px;
        top: 30px;
        bottom: -20px;
        overflow: scroll;

        .EB--content {
            width: 733px;
            padding: 10px;
        }


        .Event {
            width: 100%;
            padding-bottom: 1px;
            border: 1px solid #232323;
            overflow: hidden;

            .E--title {
                width: 100%;
                height: 30px;
                background: #343434;
                cursor: pointer;

                //.title-content:hover span,
                //.title-content:hover span{
                //    background: #ffa800;
                //}

                .close-btn ,
                .open-btn {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    margin: 0 11px 0 6px;
                    background: #282828;

                    span {
                        background: #b5b5b5;
                    }

                    &:hover {
                        span {
                            background: #ffa800;
                        }
                    }
                }

                .close-btn{
                    display: none;
                    &.expanded-btn {
                        display: block;
                    }
                }
                .open-btn{
                    display: block;
                    &.expanded-btn {
                        display: none;
                    }
                }

                .heng {
                    position: absolute;
                    left: 3px;
                    top: 7px;
                    width: 10px;
                    height: 2px;
                }

                .shu {
                    position: absolute;
                    left: 7px;
                    top: 3px;
                    width: 2px;
                    height: 10px;
                }

                //.close-btn { display: none; }
                //.open-btn { display: block; }

                .name {
                    font-size: 14px;
                    color: #bfbfbf;
                }

                .btn {
                    &:hover{
                        .btn-name{ color: #fff; }
                        .btn-icon{ background: #fff; }
                    }

                    &:active{
                        .btn-name{ color: #ffa800; }
                        .btn-icon{ background: #ffa800; }
                    }

                    .btn-name {
                        font-size: 14px;
                        color: #b5b5b5;
                    }

                    .btn-icon {
                        @include border-radius(8px);
                        position: relative;
                        width: 16px;
                        height: 16px;
                        background: #b5b5b5;
                        margin: 0 8px  0 6px;

                        span { background: #343434; }
                    }
                }
            }

            &.active {
                border: 1px solid #7b5815;

                //.E--title {
                //    .close-btn { display: block; }
                //    .open-btn { display: none; }
                //}
            }

            .E--content {
                width: 100%;

                .item {
                    &:last-child .left-line {
                        height: 14.5px;
                    }
                }

                .left-line {
                    width: 1px;
                    min-width: 1px;
                    background: #4d4d4d;
                    margin-left: 13px;
                }

                .item-main { }

                .item-header {
                    //height: 28px;

                    .close-line {
                        width: 20px;
                        height: 11px;
                        margin-top: 8.5px;
                        background: url("img/button-icon.svg") no-repeat -1600px 0;
                        cursor: pointer;

                        &:hover {
                            background-position: -1600px -40px;
                        }
                    }

                    .item-title {
                        //height: 26px;
                        margin: 1px 0 0 0;

                        .left {
                            width: 169px;
                            border-right: 1px solid #232323;
                            .dropDown-layer { margin-top: 2px }
                        }

                        .zhong {
                            width: 482px;
                            border-right: 1px solid #232323;

                            .dropDown-layer {
                                margin-right: 2px;

                                &:last-child { margin-right: 0; }
                            }
                        }

                        .left-layer ,
                        .right-layer {
                            min-height: 26px;
                            background: #303f54;
                        }

                        .title-icon {
                            width: 26px;
                            height: 100%;
                            background: url("img/button-icon.svg") no-repeat -1480px 0;
                        }

                        .dropDown-layer {
                            position: relative;

                            .title {
                                @include border-radius(2px);
                                position: relative;
                                width: 100%;
                                height: 22px;
                                background: #1d2736;
                                font-size: 12px;
                                color: #b5b5b5;
                                padding-left: 10px;
                                cursor: pointer;

                                &:hover {
                                    background: #19222e;
                                }

                                .icon {
                                    position: absolute;
                                    right: 8px;
                                    top: 0;
                                    width: 10px;
                                    height: 22px;
                                    background: url("img/button-icon.svg") no-repeat -1680px 0;
                                    display: block;
                                }
                            }
                            .dropDown{
                                width: 140px;
                                min-height: 40px;
                                background: #1d2736;
                                border-radius: 2px;
                                margin-top: 1px;
                                margin-bottom: 2px;
                                display: none;
                                overflow: hidden;

                                .dropDown-input2{
                                    height: 18px;
                                    color:#b5b5b5;
                                    overflow: hidden;
                                    .dropDown-input-txt-half{
                                        width: 50%;
                                        float: left;
                                        padding-left: 8px;
                                    }
                                    .dropDown-input-half{
                                        width: 50%;
                                        background: #283549;
                                        height: 18px;
                                        float: left;
                                        .dropDown-input-content{
                                            width: 80%;
                                            border: 0;
                                            background-color: #283549;
                                            outline: none;
                                            padding-left: 8px;
                                        }
                                    }
                                }
                                .dropDown-input{
                                  background: #283549;
                                    height: 18px;
                                    color:#b5b5b5;
                                    overflow: hidden;
                                    .dropDown-input-content{
                                        width: 100px;
                                        margin-left: 8px;
                                        border: 0;
                                        background-color: #283549;
                                        outline: none;
                                    }
                                }
                                .dropDown-input-select{}
                                .dropDown-input-full{
                                    width: 136px;
                                    margin: 2px auto;
                                }


                            }

                            &.long {
                                width: 140px;
                            }

                            &.middle {
                                width: 70px;
                            }

                            &.short {
                                width: 50px;
                            }
                        }

                        .list {
                            position: relative;
                            height: 26px;
                            padding-left: 2px;
                            background: #303f54;
                            margin-bottom: 1px;

                            &:last-child{ margin-bottom: 0; }

                            &:nth-child(1) .supplement-line{ display: none }

                            .supplement-line {
                                position: absolute;
                                top: -1px;
                                left: -169px;
                                width: 1px;
                                height: 27px;
                                background: #4d4d4d;
                            }

                            .number {
                                @include border-radius(2px);
                                width: 70px;
                                height: 22px;
                                padding-left: 2px;
                                background: #1d2736;

                                input {
                                    @include border-radius(2px);
                                    width: 48px;
                                    height: 18px;
                                    line-height: 18px;
                                    background: #343d4a;
                                    outline: none;
                                    border: none;
                                    font-size: 12px;
                                    color: #b5b5b5;
                                    padding-left: 5px;
                                }

                                .number-icon {
                                    div{
                                        position: relative;
                                        width: 100%;
                                        height: 11px;
                                        cursor: pointer;

                                        span{
                                            position: absolute;
                                            top: 0;
                                            left: 6px;
                                        }
                                    }

                                    .shang-btn span{
                                        @include triangle(10px, #3c516f ,up);
                                        &:hover{ @include triangle(10px, #b5b5b5 ,up); }
                                        &:active{ @include triangle(10px, #fff ,up); }
                                    }

                                    .xia-btn span{
                                        top: 2px;
                                        @include triangle(10px, #3c516f ,down);
                                        &:hover{ @include triangle(10px, #b5b5b5 ,down); }
                                        &:active{ @include triangle(10px, #fff ,down); }
                                    }
                                }
                            }

                            .close-btn {
                                cursor: pointer;
                                width: 22px;
                                height: 26px;
                                background: url("img/button-icon.svg") no-repeat -1720px 0;
                                display: block;

                                &:hover { background-position: -1720px -40px; }
                                &:active { background-position: -1720px -80px; }
                            }
                        }

                        .plus-btn {
                            cursor: pointer;
                            padding: 2px;

                            &:hover .btn span{ background: #b5b5b5;}
                            &:active .btn span{ background: #fff;}

                            .btn {
                                @include border-radius(2px);
                                position: relative;
                                width: 22px;
                                height: 22px;
                                background: #1d2736;

                                span{
                                    background: #3c516f;
                                }

                                .heng {
                                    position: absolute;
                                    left: 5px;
                                    top: 10px;
                                    width: 12px;
                                    height: 2px;
                                }

                                .shu {
                                    position: absolute;
                                    left: 10px;
                                    top: 5px;
                                    width: 2px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .Property {
            width: 100%;

            &:last-child .P--left-line {
                height: 14.5px;
            }

            .P--left-line{
                width: 1px;
                background: #4d4d4d;
                margin-left: 20px;
            }

            &:nth-child(1) .P--content .p--close-line {
                //background: none;
                //margin-top: 14px;
                //height: 1px;
                //background: #4d4d4d;
            }

            .P--content {
                .p--close-line {
                    width: 20px;
                    height: 11px;
                    margin-top: 8.5px;
                    background: url("img/button-icon.svg") no-repeat -1600px 0;
                    cursor: pointer;

                    &:hover {
                        background-position: -1600px -40px;
                    }
                }

                .p--main { padding: 1px 0 0 0; }

                .p--dropDown {
                    position: relative;
                    height: 22px;

                    .title {
                        @include border-radius(2px);
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background: #1c2f2e;
                        font-size: 12px;
                        color: #b5b5b5;
                        padding-left: 11px;
                        cursor: pointer;

                        &:hover {
                            background: #162322;
                        }

                        .icon {
                            position: absolute;
                            right: 8px;
                            top: 0;
                            width: 10px;
                            height: 22px;
                            background: url("img/button-icon.svg") no-repeat -1680px -40px;
                            display: block;
                        }
                    }

                    &.short { width: 160px; }
                    &.middle {
                        width: 233px;

                        .title{
                            background: #294140;
                            &:hover {
                                background: #152322;
                                .icon { background-position: -1800px -40px; }
                            }
                            .icon { background-position: -1800px 0; }
                        }
                    }
                    &.long { width: 100% }
                }

                .add-btn,
                .up-btn,
                .down-btn {
                    width: 100%;
                    height: 18px;
                    cursor: pointer;

                    &:hover .btn-layer span { background: #b5b5b5; }
                    &:active .btn-layer span { background: #fff; }

                    .btn-layer {
                        @include border-radius(8px);
                        position: relative;
                        width: 16px;
                        height: 16px;
                        background: #1c2f2e;
                        margin: 0 auto;

                        span{
                            position: absolute;
                            background: #325351;
                        }

                        .heng {
                             left: 3px;
                             top: 7px;
                             width: 10px;
                             height: 2px;
                        }

                        .shu {
                            left: 7px;
                            top: 3px;
                            width: 2px;
                            height: 10px;
                        }
                    }
                }

                .down-btn,
                .up-btn {
                    background-color: inherit;
                    border: none;
                    outline: 0;
                }

                .down-btn {
                    display: block;
                    .btn-layer {
                        background: url("img/button-icon.svg") no-repeat -1960px 0;
                    }
                    &:hover {
                        .btn-layer {
                            background: url("img/button-icon.svg") no-repeat -1960px -40px;
                        }
                    }
                    &:active {
                        .btn-layer {
                            background: url("img/button-icon.svg") no-repeat -1960px -80px;
                        }
                    }
                    &.expanded-props {
                        display: none;
                    }
                }

                .up-btn {
                    display: none;
                    &.expanded-props {
                        display: block;
                        .btn-layer {
                            background: url("img/button-icon.svg") no-repeat -1920px 0;
                        }
                        &:hover {
                            .btn-layer {
                                background: url("img/button-icon.svg") no-repeat -1920px -40px;
                            }
                        }
                        &:active {
                            .btn-layer {
                                background: url("img/button-icon.svg") no-repeat -1920px -80px;
                            }
                        }
                    }
                }
                .up-btn,
                .down-btn {
                    &:disabled {
                        cursor: not-allowed;
                        .btn-layer {
                            background: url("img/button-icon.svg") no-repeat -1960px 0;
                        }
                        &:hover {
                            .btn-layer {
                                background: url("img/button-icon.svg") no-repeat -1960px 0;
                            }
                        }
                        &:active {
                            .btn-layer {
                                background: url("img/button-icon.svg") no-repeat -1960px 0;
                            }
                        }
                    }
                }

                .p--left {
                    width: 188px;
                    height: 44px;
                    background: #294140;
                    margin-right: 1px;

                    .p--left-div {
                        width: 100%;
                        height: 26px;
                    }

                    .p--icon {
                        width: 26px;
                        height: 100%;
                        border: none;
                        outline: 0;
                        background: url("img/button-icon.svg") no-repeat -558px -198px;
                        &:hover {
                            background: url("img/button-icon.svg") no-repeat -558px -238px;
                        }
                        &:active {
                            background: url("img/button-icon.svg") no-repeat -558px -278px;
                        }
                    }
                }

                .p--right {
                    background: #294140;
                    padding: 2px 2px 0 2px;

                    .p--property {
                        margin-bottom: 2px;
                    }

                    .pp-content {
                        width: 100%;

                        &:before{
                            content:"";
                            width: 25px;
                        }
                    }

                    .pp--list-layer {
                        @include border-radius(2px);
                        margin-top: 1px;
                        background: #1c2f2e;
                        padding-top: 2px;
                    }

                    .pp--list {
                        height: 22px;
                        margin-bottom: 2px;
                        padding-right: 28px;

                        .pp--name {
                            width: 180px;
                            padding-left: 11px;
                            font-size: 12px;
                            color: #b5b5b5;
                        }

                        input {
                            @include border-radius(2px);
                            height: 22px;
                            background: #294140;
                            outline: none;
                            border: none;
                            font-size: 12px;
                            line-height: 22px;
                            color: #b5b5b5;
                            padding-left: 10px;

                            &:focus{
                                color: #fff;
                            }
                        }

                        .on-off-btn {
                            @include border-radius(11px);
                            position: relative;
                            width: 99px;
                            height: 22px;
                            background: #294140;
                            overflow: hidden;
                            cursor: pointer;

                            .btn-name {
                                line-height: 22px;
                                font-size: 12px;
                                color: #b5b5b5;
                                &.left { padding-left: 8px; }
                            }

                            .btn{
                                @include border-radius(14px);
                                position: absolute;
                                top: 2px;
                                width: 30px;
                                height: 18px;
                                background: #b5b5b5;
                                display: block;
                            }

                            .btn-icon span {
                                @include border-radius(5px);
                                width: 10px;
                                height: 10px;
                                margin: 6px 0 0 6.5px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
