.formulaInput {
  .value-mode,
  .formula-mode{
    .formula-dropDown {
      background-color: #294140;
      border-radius: 2px;
      position: relative;
      height: 22px;
    }
    .formula-title {
      border-radius: 2px;
      position: relative;
      width: 100%;
      height: 100%;
      background: #294140;
      font-size: 12px;
      color: #b5b5b5;
      padding-left: 0;
      cursor: pointer;
    }
    .formula-object-icon {
      cursor: pointer;
      min-width: 22px;
      width: 22px;
      height: 22px;
      outline: 0;
      margin: 0 2px 0 2px;
      border: 1px solid #294140;
      border-radius: 2px;
      //280 360
      background: url('img/button-icon.svg') no-repeat -279px -359px;

      &:hover {
        background: url("img/button-icon.svg") no-repeat -279px -399px;
      }
      &:active {
        background: url("img/button-icon.svg") no-repeat -279px -439px;
      }
      &.active {
        border: 1px solid #7b5815;
        background: url("img/button-icon.svg") no-repeat -279px -359px;
      }
      &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    .ant-input-wrapper {
      width: 100%;
      input {
        border-radius: 2px;
        height: 22px;
        background: #294140;
        outline: none;
        border: 0;
        font-size: 12px;
        line-height: 22px;
        color: #b5b5b5;
        padding-left: 0 !important;
        padding-right: 0;
      }
    }
    .ant-input,
    .ant-input-sm,
    .ant-input-number-input{
      &:focus {
        border: 0 !important;
        outline: 0;
        box-shadow: none;
      }
    }

    .right-icon {
      position: relative;
      padding-right: 17px;
      width: 12px;
      height: 22px;
      background: url('img/button-icon.svg') no-repeat -1677px -40px;
    }
  }
  .formula-mode {
    background: #294140;
    border-radius: 2px;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 12px;

    //overflow-y: hidden;
    //overflow-x: auto;
    //&::-webkit-scrollbar {
    //  width: 6px;
    //  height: 6px;
    //  background-color: #353535;
    //}
    //&::-webkit-scrollbar-thumb {
    //  cursor: pointer;
    //  border-radius: 0;
    //  background-color: #232323;
    //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    //}
    .ant-input-wrapper {
      margin: 0 2px;
    }
    .formula-obj {
      //padding: 0 4px;
      .ant-input-wrapper {
        width: auto;
        input {
          width: 10px;
        }
      }
    }
    .formula-obj-div {
      border-radius: 2px;
      &.complete {
        background-color: #213635;
      }
      &.will-delete-obj {
        border: 1px solid #7b5815;
      }
    }
    .formular-obj-com {
      background: #1c2f2e;
      border-radius: 2px;
    }
    //.formula-obj-dropDown {
    //  width: 132px;
    //  cursor: pointer;
    //  color: #b5b5b5;
    //  padding: 2px;
    //  border-radius: 2px;
    //  background: #1c2f2e;
    //  height: 18px;
    //}
    .formula-obj-property-dropDown{
      padding: 0 2px;
      width: 66px;
      cursor: pointer;
      color: #b5b5b5;
      background-color: #1c2f2e;
      border-radius: 2px;
      height: 18px;
      .right-icon {
        padding-right: 14px;
        background-position: -1678px -40px;
      }
    }
    //.formula-obj-dropDown,
    .formula-obj-property-dropDown {
      .dropDown-title{
        width: 100%;
      }
    }
    .formula-obj-arrType-dropDown {
      position: relative;
      outline: 0;
      .dropDown-content {
        z-index: 10;
        position: absolute;
        top: 18px;
        background: #315654;
        border-radius: 2px;
        left: 0;
      }
      .arr-table {
        padding-right: 10px;
        padding-bottom: 10px;
        .data-column {
          text-align: center;
          .data-empty {
            min-width: 15px;
            min-height: 15px;
          }
          .data-row-title {
            min-height: 15px;
            width: 20px;
          }
          .data-column-title {
            min-width: 15px;
            height: 20px;
          }
          .data-column-title,
          .data-row-title {
            @extend %font-omitted;
          }
          .data {
            width: 20px;
            height: 20px;
            .data-btn {
              width: 100%;
              height: 100%;
            }
            &:hover {
              background-color: #315654;
            }
            background-color: #1c2f2e;
            border: 1px solid #162322;
          }
        }
      }
      .arr-table-empty {
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-bottom: 0;
      }
    }
    .formula-obj-name,
    .formula-obj-property {
      @extend %font-omitted;
      color: #b5b5b5;
    }
    .formula-obj-name {
      //width: 60px;
      padding: 0 2px;
      max-width: 60px;
    }
    .formula-obj-dot {
      width: 6px;
      height: 18px;
      background: url('img/button-icon.svg') no-repeat -1720px -200px;
    }
    .formula-obj-property {
      padding: 0 2px;
      //width: 66px;
      max-width: 66px;
    }
  }
}

