#FuncView {
  position: fixed;
  left: 37px;
  top: 37px;
  width: 740px;
  bottom: 1px;
  background: #232323;
  overflow: hidden;
  z-index: 50;

  &.keep {
    height: 30px;
    transition: 0.5s;
  }

  #FunctionViewHeader {
    width: 100%;
    height: 30px;
    background: #313131;

    span {
      font-size: 12px;
      color: #b5b5b5;
      padding: 4px 12px;
    }

    .btn {
      width: 32px;
      height: 26px;
      background: url("img/button-icon.svg") no-repeat -1240px 0;

      &:hover {
        background: url("img/button-icon.svg") no-repeat -1240px -40px;
      }
    }
  }

  #FunctionViewBody {
    position: relative;
    height: 100%;
    .function-body-layer {
      position: absolute;
      left: 0;
      right: -20px;
      top: 0;
      bottom: 0;
      overflow: scroll;
    }

    .function-body-layer {
      .ant-dropdown-menu    {
        background: #353535;
        border: none;
        box-shadow: none;
        margin-top: -4px;
        border-radius: 0 0 2px 2px;
      }
      .ant-dropdown-menu-item {
        color: #666;
        padding: 2px 14px;
      }
      .ant-dropdown-menu-item-active {
        background: #151515;
      }
      .ant-dropdown-menu-item:first-child {
        border-radius: 0;
      }
      .ant-dropdown-menu-item:last-child {
        border-radius: 0 0 2px 2px;
      }

      .ant-form-horizontal {
        padding-right: 25px;
      }
    }

    .ant-form {
      ////padding: 20px;
      //
      //.ant-form-item {
      //  margin-bottom: 15px;
      //}
      //
      //.ant-form-item-label {
      //  //width: 100%;
      //  //text-align: left;
      //  padding-bottom: 5px;
      //  color: #b5b5b5;
      //}
      //
      .ant-input {
        width: 340px;
        //background-color: #353535;
        //border-color: #444;
        //border-radius: 2px;
        //color: #858585;
      //  &:hover {
      //    border-color: #1a1a1a;
      //  }
      //  &:focus {
      //    border-color: #444;
      //    outline: 0;
      //    box-shadow: 0 0 0 2px rgba(255, 168, 0, 0.4);
      //  }
      }

      .params-item {
        margin-bottom: 7px;
        .ant-form-item-control {
          display: inline-block;
          width: 200px;

          .ant-input {
            width: 100%;
          }
        }
        .ant-col-r {
          background-color: #353535;
          border-radius: 2px;
          .right-col-container{
            padding: 5px 2px;
          }
        }
        .ant-form-item-control {
          background-color: #232323;
          border-radius: 2px;
        }
        .ant-input {
          background-color: #232323;
        }
        .params-delete {
          width: 15px;
          text-align: center;
          cursor: pointer;
          margin-left: 3.5px;
          background-color: #353535;
        }
        .params-name {
          width: 306px;
        }
        .params-dropdown {
          cursor: pointer;
          width: 203px;
          line-height: 22px;
          .dropDown-div {
            border: 1px solid #353535;
            border-radius: 2px;
            padding-left: 5px;
            &.active {
              border: 1px solid #7b5815;
            }
          }
          .icon {
            position: absolute;
            right: 8px;
            top: 0;
            width: 10px;
            height: 22px;
            background: url("img/button-icon.svg") no-repeat -1680px -40px;
            display: block;
          }
        }
      }

      .add-btn {
        width: 100%;
        height: 18px;
        cursor: pointer;

        &:hover .btn-layer span { background: #b5b5b5; }
        &:active .btn-layer span { background: #fff; }

        .btn-layer {
          @include border-radius(8px);
          position: relative;
          width: 16px;
          height: 16px;
          background: #2e2e2e;
          margin: 0 auto;

          span{
            position: absolute;
            background: #626262;
          }

          .heng {
            left: 3px;
            top: 7px;
            width: 10px;
            height: 2px;
          }

          .shu {
            left: 7px;
            top: 3px;
            width: 2px;
            height: 10px;
          }
        }
      }

      .function-body {
        .ant-form-item-control {
          position: relative;
          .ReactCodeMirror {
            //position: fixed;
            //width: 700px;
            //bottom: 20px;
            //top: 195px;
            width: 655px;
            height: 600px;
            .CodeMirror {
              height: 100%;
            }
          }
          .ReactCodeMirror--focused {
            border-color: #444;
            outline: 0;
            box-shadow: 0 0 0 2px rgba(255, 168, 0, 0.4);
          }
          .CodeMirror-focused .CodeMirror-selected,
          .CodeMirror-line::selection,
          .CodeMirror-line>span::selection,
          .CodeMirror-line>span>span::selection {
            background: #2db7f5 !important;
            color: #ffffff !important;
          }
          .ReactCodeMirror {
            border:1px solid #444;
            border-radius: 2px;

            &:hover {
              border-color: #1a1a1a;
            }
            .CodeMirror {
              background-color: #353535;

              .cm-variable {
                color: #ffa800;
              }
              .cm-keyword {
                color: #9876aa;
              }
              .cm-def {
                color: #6297bb;
              }
              .cm-number {
                color: #83c060;
              }
              .cm-error {
                color: #bc3f3c;
              }

              .CodeMirror-linenumber {
                text-align: center;
                padding: 0 4px;
                color: #b5b5b5;
                line-height: 1.5;
              }
              .CodeMirror-scroll {
                color: #b5b5b5;
              }
              .CodeMirror-cursor {
                border-left: 1px solid #b5b5b5;
              }
              .CodeMirror-gutters {
                color: #b5b5b5;
                background-color: #2d2d2d;
                border-right: 1px solid #2d2d2d;
              }
              .CodeMirror-line {
                line-height: 1.5;
              }
              .CodeMirror-scrollbar-filler {
                background-color: #2d2d2d;
              }
              .CodeMirror-vscrollbar,
              .CodeMirror-hscrollbar {
                &::-webkit-scrollbar {
                  width: 14px;
                  height: 14px;
                  background-color: #2d2d2d;
                }
              }
              .CodeMirror-vscrollbar,
              .CodeMirror-hscrollbar {
                &::-webkit-scrollbar-track {
                  background-color: #2d2d2d;
                }
              }
              .CodeMirror-vscrollbar,
              .CodeMirror-hscrollbar {
                &::-webkit-scrollbar-thumb {
                  cursor: pointer;
                  border-radius: 2px;
                  background-color: #858585;
                }
              }
            }
          }
        }
      }
    }
  }
}