.NavBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 102;
    width: 100%;
    height: 36px;
    background: #353535;

    .nb--left {
        .import {
            width: 37px;
            height: 37px;
            background: #1b1b1b;

            .icon {
                width: 37px;
                height: 37px;
                cursor: pointer;
                display: block;
                background: url("img/button-icon.svg") no-repeat 0  0;

                &:hover {
                    background: url("img/button-icon.svg") no-repeat 0  -40px;
                }

                &:active {
                    background: url("img/button-icon.svg") no-repeat 0  -80px;
                }
            }
        }

        .special-layer {
            position: absolute;
            left: 36px;
            top: 36px;
            z-index: 99;

            .special-list {
                @include shadow(5px,5px,20px,0.3);
                width: 112px;
                height: 176px;
                border: 1px solid #1b1b1b;
                background: #353535;
                margin: 0;
                padding: 5px 0 0 0;

                li{
                    position: relative;
                    width: 100%;
                    height: 24px;
                    line-height: 24px;
                    color: #b5b5b5;
                    font-size: 14px;
                    cursor: not-allowed;
                    padding-left: 12px;

                    &.line{
                        height: 1px;
                        background: #454545;
                        padding: 0;
                        margin: 5px 0;
                    }

                    &.open-li ,
                    &.save-li ,
                    &.create-li{
                        cursor: pointer;

                        &:hover{
                            background: #232323;
                            color: #fff;
                        }
                    }

                    &.open-li ,
                    &.create-li{
                        .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 24px;
                            height: 24px;
                            display: block;
                            background: url("img/button-icon.svg") no-repeat -1360px -200px;
                        }

                        &:hover .icon {
                            background-position: -1360px -240px;
                        }
                    }
                }
            }

            .open-li-content ,
            .create-li-content{
                @include shadow(5px,5px,20px,0.3);
                position: absolute;
                top: 24px;
                left: 111px;
                width: 122px;
                margin: 0;
                background: #353535;
                border: 1px solid #1b1b1b;

                li{
                    @extend %font-omitted;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;
                    display: block;
                    overflow: hidden;
                    font-size: 12px;
                    color: #b5b5b5;
                    cursor: pointer;

                    &:hover {
                        background: #232323;
                        color: #fff;
                    }
                }
            }

            .create-li-content{
                top: 0;
            }
        }

        .left-group {
            height: 36px;
            padding-left: 6px;

            .btn {
                @include border-radius(2px);
                width: 60px;
                height: 24px;
                margin-left: 4px;
                font-size: 12px;
                color: #b5b5b5;
                //background: #1b1b1b;
                display: block;
                overflow: hidden;

                .icon {
                    width: 24px;
                    height: 24px;
                    background: url("img/button-icon.svg") no-repeat;
                    display: block;
                    margin-right: 4px;
                    float: left;
                }

                &.save-btn{
                    .icon{ background-position: -40px 0 ; }
                    &:hover .icon{ background-position: -40px -40px; }
                    &:active .icon{ background-position: -40px 0; }
                }
                &.template-btn {
                    .icon{ background-position: -80px 0 ; }
                    &:hover .icon{ background-position: -80px -40px; }
                    &:active .icon{ background-position: -80px 0; }
                }
                &.module-btn{
                    .icon{ background-position: -400px -200px; }
                    &:hover .icon{ background-position: -400px -240px; }
                    &:active .icon{ background-position: -400px -280; }
                }
                &.data-btn{
                    .icon{ background-position: -440px -200px; }
                    &:hover .icon{ background-position: -440px -240px; }
                    &:active .icon{ background-position: -440px -280; }
                }
                &.link-btn{
                    .icon{ background-position: -480px -200px; }
                    &:hover .icon{ background-position: -480px -240px; }
                    &:active .icon{ background-position: -480px -280; }
                }
                &.shape-btn{
                    .icon{ background-position: -520px -200px; }
                    &:hover .icon{ background-position: -520px -240px; }
                    &:active .icon{ background-position: -520px -280; }
                }

                &.open-btn {
                    .icon{background-position: 0 -200px;}
                    &:hover .icon{ background-position: 0 -240px; }
                    &:active .icon{ background-position: 0 -280px; }
                }

                .title{
                    height: 24px;
                    line-height: 24px;
                    display: block;
                    float: left;
                }

                &:hover{
                    background: #282828;
                    color: #fff;
                }

                &:active{
                    background: #1b1b1b;
                    color: #b5b5b5;
                }
            }

            .dropDown-btn ,
            .dropDown-btn2 {
                position: relative;
                height: 36px;
                .btn {
                    &:hover , &:active{
                        background: #1b1b1b;
                        color: #fff;
                    }
                }

                &:hover .dropDownToggle{
                    transition: 500ms;
                    opacity: 1;
                }

                .dropDownToggle{
                    position: absolute;
                    top: 36px;
                    z-index: 98;
                    overflow: hidden;
                    opacity: 0;
                }
            }

            .dropDown-btn{
                &:hover {
                    position: relative;
                    z-index: 99;
                    &:before{
                        display: block;
                    }

                    .dropDownToggle{
                        height: 189px;
                    }
                }

                &:before{
                    @include triangle(24px, #454545 ,up);
                    content: "";
                    position: absolute;
                    top: 19px;
                    left: 23px;
                    z-index: 99;
                    display: none;
                }

                .dropDownToggle{
                    @include border-radius(2px);
                    @include shadow(0,5px,20px,0.3);
                    top: 36px;
                    left: -38px;
                    width: 375px;
                    height: 0;
                }

                .dropDownToggle-main {
                    @include border-radius(2px);
                    @include shadow(0,5px,20px,0.3);
                    width: 375px;
                    height: 183px;
                    background: #454545;
                    padding: 0 8px;
                    margin-top: 6px;
                }

                .dropDown-title {
                    height: 29px;
                    line-height: 29px;
                    font-size: 12px;
                    color: #b5b5b5;

                    .set-btn {
                        width: 20px;
                        height: 20px;
                        display: block;
                        cursor: pointer;
                        background: url("img/button-icon.svg") no-repeat -160px -200px;

                        &:hover { background-position: -160px -240px;}
                        &:active { background-position: -160px -320px;}
                    }
                }

                .dropDown-main {
                    position: relative;
                    width: 100%;
                    height: 146px;
                    background: #383838;
                    border: 1px solid #272727;
                    overflow: hidden;
                }

                .dropDown-scroll {
                    position: absolute;
                    left: 0;
                    right: -20px;
                    height: 146px;
                    overflow: scroll;
                    overflow-x: hidden;
                }

                .dropDown-content{
                    width: 356px;
                    margin: 0;
                    padding: 0;
                    clear: both;

                    li{
                        width: 119px;
                        height: 29px;
                        border-right: 1px solid #292929;
                        border-bottom: 1px solid #292929;
                        cursor: pointer;
                        float: left;

                        &:nth-child(3n){
                            width: 118px;
                            border-right: none;
                        }

                        .title{
                            height: 28px;
                            color: #b5b5b5;
                        }

                        .title:hover {
                            color: #fff;
                        }

                        .title:active {
                            background: #232323;
                            color: #454545;
                        }

                        &.not-active:active{
                            background: none;
                        }

                        &.add-btn {
                            &:hover .icon span{background: #fff;}

                            &:active {
                                background: #232323;
                                .icon span{ background: #b5b5b5;}
                            }

                            .icon{
                                position: relative;
                                width: 14px;
                                height: 14px;

                                span{
                                    position: absolute;
                                    background: #151515;
                                }

                                .heng{
                                    left: 0;
                                    top: 6px;
                                    width: 14px;
                                    height: 2px;
                                }

                                .shu {
                                    left: 6px;
                                    top: 0;
                                    width: 2px;
                                    height: 14px;
                                }
                            }
                        }

                        .li-icon {
                            width: 14px;
                            height: 14px;
                            background: url("img/button-icon.svg") no-repeat -280px -200px;
                            display: block;
                            margin: 0 8px;
                        }

                        .title:hover .li-icon{ background-position: -280px -240px; }
                        .title:active .li-icon{ background-position: -280px -280px; }

                        .TitleName {
                            max-width: 60px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .edit-btn {
                            width: 20px;
                            height: 28px;
                            background: url("img/button-icon.svg") no-repeat -600px -200px;
                            &:hover{ background-position: -600px -280px; }
                            &:active{ background-position: -600px -240px; }
                        }
                    }
                }
            }

            .db-dropDown{
                &:hover {
                    .dropDownToggle{
                        height: 280px;
                    }
                }

                .dropDownToggle{
                    width: 314px;
                }

                .dropDownToggle-main {
                    width: 100%;
                    height: 274px;
                }

                .dropDown-main {
                    width: 100%;
                    height: 237px;
                }

                .dropDown-scroll {
                    height: 237px;
                }

                .dropDown-content{
                    width: 298px;

                    li{
                        position: relative;
                        width: 99px;
                        height: 59px;

                        &:nth-child(3n){
                            width: 98px;
                        }

                        .title{
                            width: 100%;
                            height: 100%;
                            color: #b5b5b5;
                            padding-top: 9px;
                        }

                        .title:hover {
                            color: #fff;
                        }

                        .title:active {
                            background: #232323;
                            color: #454545;
                        }

                        &.not-active .title {
                            background: #232323 !important;
                            color: #454545  !important;
                            cursor: not-allowed;
                            .li-icon{ background-position: -760px -280px !important; }
                        }

                        &.not-active:active{
                            background: none;
                        }

                        &.add-btn {
                            &:hover .icon span{background: #fff;}

                            &:active {
                                background: #232323;
                                .icon span{ background: #b5b5b5;}
                            }

                            .icon{
                                position: relative;
                                width: 14px;
                                height: 14px;

                                span{
                                    position: absolute;
                                    background: #151515;
                                }

                                .heng{
                                    left: 0;
                                    top: 6px;
                                    width: 14px;
                                    height: 2px;
                                }

                                .shu {
                                    left: 6px;
                                    top: 0;
                                    width: 2px;
                                    height: 14px;
                                }
                            }
                        }

                        .li-icon {
                            width: 20px;
                            height: 23px;
                            background: url("img/button-icon.svg") no-repeat -760px -200px;
                            display: block;
                            margin: 0 auto;
                        }

                        .title:hover .li-icon{ background-position: -760px -240px; }
                        .title:active .li-icon{ background-position: -760px -280px; }

                        .TitleName {
                            max-width: 80px;
                            height: 26px;
                            line-height: 26px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            margin: 0 auto;
                            text-align: center;
                        }

                        .edit-btn {
                            position: absolute;
                            right: 0;
                            top: -4px;
                            width: 20px;
                            height: 28px;
                            background: url("img/button-icon.svg") no-repeat -600px -200px;
                            &:hover{ background-position: -600px -280px; }
                            &:active{ background-position: -600px -240px; }
                        }
                    }
                }
            }

            .link-dropDown {
                .dropDown-content{
                    li {
                        &.not-active .title{
                            background: #232323 !important;
                            color: #454545 !important;
                            cursor: not-allowed;
                            .li-icon{ background-position: -1280px -280px !important; }
                        }
                        .li-icon {
                            width: 14px;
                            height: 10.6px;
                            background: url("img/button-icon.svg") no-repeat -1280px -200px;
                            display: block;
                            margin: 0 6px;
                        }

                        .title:hover .li-icon{ background-position: -1280px -240px; }
                        .title:active .li-icon{ background-position: -1280px -280px; }
                    }
                }
            }

            .shape-dropDown {
                &:hover {
                    .dropDownToggle{
                        height: 219px;
                    }
                }

                .dropDownToggle{
                    width: 367px;
                    //height: 219px;
                    //opacity: 1;
                }

                .dropDownToggle-main {
                    width: 367px;
                    height: 213px;
                }

                .dropDown-main {
                    height: 176px;
                }

                .dropDown-scroll {
                    height: 176px;
                }

                .dropDown-content{
                    width: 351px;

                    li{
                        width: 35px;
                        height: 35px;
                        overflow: hidden;

                        &:nth-child(3n){
                            width: 35px;
                            height: 35px;
                            border-right: 1px solid #292929;
                        }

                        &:nth-child(10n){
                            width: 34px;
                            border-right: none;
                        }

                        &:hover {
                            background: #232323;
                        }

                        &:active {
                            background: #232323;

                            svg{ opacity: 0.5; }
                        }

                        &.not-active{
                            background: #232323;
                            cursor: not-allowed;
                            svg{ opacity: 0.5; }
                        }

                        svg {
                            transform: scale(0.3);
                            transform-origin: 2.5px 2px;
                            display: block;
                        }
                    }
                }
            }

            .dropDown-btn2 {
                &:hover .dropDownToggle{
                    height: 330px;
                }

                .dropDownToggle{
                    width: 120px;
                    height: 0;

                    ul{
                        position: absolute;
                        top: 0;
                        width: 120px;
                        margin: 0;
                        background: #353535;
                        border: 1px solid #1b1b1b;

                        li{
                            @extend %font-omitted;
                            height: 30px;
                            line-height: 30px;
                            padding: 0 10px;
                            display: block;
                            overflow: hidden;
                            font-size: 12px;
                            color: #b5b5b5;
                            cursor: pointer;

                            &:nth-child(1){
                                text-align: center;
                                background: #4f4f4f;
                                color: #fff;
                            }

                            &:nth-child(3){ border: none; }
                        }
                    }
                }
            }
        }
    }

    .nb--content {
        .damndesigner{
            position: absolute;
            top: 0;
            left: 50%;
            width: 237px;
            height: 100%;
            margin-left: -118.5px;
        }

        .btn {
            @include border-radius(2px);
            width: 75px;
            height: 24px;
            background: #4a4a4a;
            margin-left: 6px;
            display: block;
            font-size: 12px;
            color: #fff;
            overflow: hidden;
            text-align: left;

            &:nth-child(1){
                margin-left: 0;
            }

            .icon {
                background: url("img/button-icon.svg") no-repeat;
                float: left;
                display: block;
            }

            &:hover {
                background: #282828;
                color: #dddddd;
            }

            &:active {
                background: #4a4130;
                color: #ffa800;
            }

            &.preview-btn {
                .icon {
                    width: 16px;
                    height: 18px;
                    margin: 0 15px 0 8px;
                    background-position: -480px 0 ;
                }
                &:hover .icon{ background-position: -480px -40px; }
                &:active .icon{ background-position: -480px -80px; }
            }

            &.qrCode-btn {
                .icon {
                    width: 16px;
                    height: 16px;
                    margin: 0 8px 0 9px;
                    background-position: -520px 0 ;
                }
                &:hover .icon{ background-position: -520px -40px; }
                &:active .icon{ background-position: -520px -80px; }
            }

            &.release-btn{
                .icon {
                    width: 17px;
                    height: 17px;
                    margin: 0 14px 0 8px;
                    background-position: -560px 0 ;
                }
                &:hover .icon{ background-position: -560px -40px; }
                &:active .icon{ background-position: -560px -80px; }
            }
        }
    }

    .nb-right {
        button {
            display: block;
        }

        .che-btn ,
        .hui-btn{
            width: 24px;
            height: 24px;
            background: url("img/button-icon.svg") no-repeat;
        }

        .che-btn {
            background-position: -600px 0;
            &:hover{ background-position: -600px -40px; }
            &:active{ background-position: -600px -80px; }
            &.not-click{
                cursor: not-allowed;
                background-position: -600px -120px;
            }
        }

        .hui-btn{
            margin: 0 11px 0 11px;
            background-position: -640px 0;
            &:hover{ background-position: -640px -40px; }
            &:active{ background-position: -640px -80px; }
            &.not-click{
                cursor: not-allowed;
                background-position: -640px -120px;
            }
        }

        .less-btn ,
        .plus-btn{
            @include border-radius(8px);
            position: relative;
            width: 16px;
            height: 16px;
            background: #b5b5b5;

            &:hover {
                background: #fff;
            }

            &:active {
                background: #b5b5b5;
            }

            span {
                position: absolute;
                background: #353535;
                display: block;
            }

            .heng {
                width: 10px;
                height: 2px;
                left: 3px;
                top: 7px;
            }

            .shu {
                width: 2px;
                height: 10px;
                left: 7px;
                top: 3px;
            }
        }

        .size-input {
            position: relative;
            color: #b5b5b5;
            width: 40px;
            height: 18px;
            border-radius: 2px;
            -webkit-transition:background-color 0.5s ease-in-out;
            -moz-transition:background-color 0.5s ease-in-out;
            -o-transition:background-color 0.5s ease-in-out;
            transition:background-color 0.5s ease-in-out;
            background: none;

            &:hover {
                background-color: #232323;
            }

            .ant-input-number {
                border: none;
                background: none;
                width: 100%;
                height: 18px;
                //margin-left: 2px;

                .ant-input-number-handler-wrap {
                    display: none;
                }
                .ant-input-number-input-wrap{
                    height: 18px;
                    line-height: 18px;
                }
                .ant-input-number-input {
                    margin-top: 0;
                    width: 100%;
                    text-align: center;
                    height: 18px;
                    line-height: 18px;
                    background: none;
                    padding: 0;
                    color: #b5b5b5;
                    border: none;
                    &:focus {
                        color: #fefefe;
                    }
                }
            }
            .ant-input-number-focused {
                background-color: #1b1b1b;
                outline: none;
                border: none;
                box-shadow: none;
            }
        }


        .home-btn {
            width: 24px;
            height: 24px;
            margin: 0 5px 0 11px;
            background: url("img/button-icon.svg") no-repeat -680px 0;
            &:hover{ background-position: -680px -40px; }
            &:active{ background-position: -680px -80px; }
        }

        .btn {
            width: 24px;
            height: 24px;
            margin-right: 11px;
            background: url("img/button-icon.svg") no-repeat;
            display: block;

            &.history-btn {
                background-position: -120px 0 ;
                &:hover{ background-position: -120px -40px; }
                &:active{ background-position: -120px -80px; }
            }
            &.hide-btn {
                background-position: -160px 0 ;
                &:hover{ background-position: -160px -40px; }
                &:active{ background-position: -160px -80px; }
                &.active{ background-position: -160px -80px; }
            }
            &.align-btn {
                background-position: -200px 0 ;
                &:hover{ background-position: -200px -40px; }
                &:active{ background-position: -200px -80px; }
                &.active{ background-position: -200px -80px; }
            }
            &.distributed-btn {
                background-position: -240px 0 ;
                &:hover{ background-position: -240px -40px; }
                &:active{ background-position: -240px -80px; }
                &.active{ background-position: -240px -80px; }
            }
        }

        .dropDown-btn {
            position: relative;

            ul {
                position: absolute;
                top: 29px;
                z-index: 99;
                width: 112px;
                margin: 0;
                background: #353535;
                border: 1px solid #1b1b1b;

                li{
                    @include flexbox;
                    @include flex-direction(row);
                    @include align-items(center);
                    height: 32px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #b5b5b5;
                    cursor: pointer;

                    &:hover {
                        background: #232323;
                    }

                    &:active {
                        color: #fff;
                    }

                    &:nth-child(3){
                        border-bottom: 1px solid #454545;
                    }

                    .icon {
                        width: 24px;
                        height: 24px;
                        margin: 0 11px 0 7px;
                        display: block;
                        background: url("img/button-icon.svg") no-repeat;
                    }

                    &.left-icon {
                        .icon{ background-position: -920px 0 ; }
                        &:active .icon{ background-position: -920px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.zhong-icon {
                        .icon{ background-position: -960px 0 ; }
                        &:active .icon{ background-position: -960px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.right-icon {
                        .icon{ background-position: -1000px 0 ; }
                        &:active .icon{ background-position: -1000px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.top-icon {
                        .icon{ background-position: -1040px 0 ; }
                        &:active .icon{ background-position: -1040px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.middle-icon {
                        .icon{ background-position: -1080px 0 ; }
                        &:active .icon{ background-position: -1080px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.bottom-icon {
                        .icon{ background-position: -1120px 0 ; }
                        &:active .icon{ background-position: -1120px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.stretch-icon{
                        .icon{ background-position: -1160px 0 ; }
                        &:active .icon{ background-position: -1160px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                    &.vertical-icon{
                        .icon{ background-position: -1200px 0 ; }
                        &:active .icon{ background-position: -1200px -40px; }
                        &.inactive { opacity: 0.6; cursor: not-allowed;}
                    }
                }
            }
        }
    }
}