.ObjectTree {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .stage {
        position: absolute;
        left: 0;
        top: 0;
        right: -20px;
        bottom: -20px;
        //width: 100%;
        //height: 100%;
        overflow: scroll;

        .stage-title ,
        .item-title,
        .fade-widget-title{
            float: left;
            position: relative;
            width: 220px; //244px;
            min-width: 220px; //244px;
            padding: 2px 2px 2px 22px;
            font-size: 12px;
            color: #adadad;
            border-bottom: 1px solid #151515;
            cursor: pointer;

            &.active {
                background: #39311f;

                //.event-icon {
                //    background-position:-760px -80px;
                //}
            }

            .btn {
                position: absolute;
                left: 2px;
                top: 2px;
                bottom: 2px;
                width: 20px;
                //height: 100%;
                background: #151515;

                span {
                    width: 12px;
                    height: 12px;
                    display: block;
                    background: url("img/button-icon.svg") no-repeat;
                }

                &.show-btn span {
                    background-position: -800px 0;
                }

                &.hide-btn span {
                    background-position: -800px -40px;
                }

                &.none-btn,
                &.none-btn span {
                    background: none;
                }
            }

            .icon {
                //width: 8px;
                width: 10px;
                height: 6px;
                background: url("img/button-icon.svg") no-repeat -1280px 0;
                margin-right: 3px;

                &.close-icon {
                    transform: rotate(-90deg);
                }
            }

            .stage-name-wrap,
            .item-name-wrap,
            .fade-widget-name-wrap{
                @extend %font-omitted;
                width: 100%;
                padding-right: 18px;
                margin: 0 0 0 10px;

                .item-name-input {
                    outline: 0;
                    height: 18px;
                    margin: 0;
                    width: 100%;
                    border: none;
                    padding: 0 5px;
                    background-color: #151515;
                }
            }

            p {
                @extend %font-omitted;
                //max-width: 95px;
            }

            .not-icon {
                background: none;
            }

            .lock-icon {
                position: absolute;
                right: 2px;
                width: 14px;
                height: 14px;
                background: url("img/button-icon.svg") no-repeat -360px -200px;
                &:active {
                    background: url("img/button-icon.svg") no-repeat -360px -200px;
                }
            }
        }

        .item-event {
            float: left;
            cursor: pointer;
            position: relative;
            height: 25px;
            width: 24px;
            border-bottom: 1px solid #151515;

            .item-event-empty {
                width: 100%;
                height: 100%;
            }
            .active {
                background: #39311f;
            }

            .event-icon {
                position: absolute;
                right: 5.5px;
                width: 15px;
                height: 15px;
                top: 3.5px;
            }
            .event-icon-normal {
                background: url("img/button-icon.svg") no-repeat -760px 0;
                &.active {
                    background: url("img/button-icon.svg") no-repeat -760px -80px;
                }
            }
            .event-icon-disable {
                background: url("img/button-icon.svg") no-repeat -760px -120px;
                &.active {
                    background: url("img/button-icon.svg") no-repeat -760px -160px;
                }
            }
        }

        .item {
            outline: 0;
            .item-title-wrap {
                outline: 0;
            }
            .item-event {
                height: 23px;
            }
        }

        .fade-widget-title-wrap {
            outline: 0;
        }

        .stage-title-wrap {
            .event-icon {
                top: 4.5px;
            }
        }

        .fade-widget-title-wrap{
            .item-event {
                height: 23px;
            }
            .var-str-icon {
                background: url("img/object-tree.svg") no-repeat -920px 0px;
            }
            .var-num-icon {
                background: url("img/object-tree.svg") no-repeat -960px 0px;
            }
            .func-icon {
                background: url("img/object-tree.svg") no-repeat -760px 0;
            }
            .db-item-icon {
                background: url("img/object-tree.svg") no-repeat -1040px 0;
            }
            .fade-widget-name-wrap{
                margin: 0 0 0 9px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }
        }

        .stage-title{
            height: 25px;
            padding-left: 28px;
            outline: 0;

            .stage-icon {
                //width: 14px;
                width: 18px;
                height: 14px;
                margin-left: 3px;
                background: url("img/button-icon.svg") no-repeat -720px 0;

                &.module-icon{
                    background-position: -280px -200px;
                }
            }
        }

        .placeholder {
            height: 2px;
            background-color: #FFA800;
            //border-top: 2px dotted #adadad;
        }
    }

    .item-img {
        max-height: 16px;
        filter: Gray;
        -webkit-filter: grayscale(100%);
    }
    .fade-widget-icon {
        margin-left: 11px;
    }
    .item-icon {
        width: 16px;
        min-width: 16px;
        height: 16px;
    }
    .component-icon {
        background: url("img/button-icon.svg") no-repeat -280px -200px;
    }
    .shareDb-icon{
        background: url("img/object-tree.svg") no-repeat -1160px 0;
    }
    .personalDb-icon {
        background: url("img/object-tree.svg") no-repeat  -1120px 0;
    }
}

.dragTip {
    color: white;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    position: absolute;
    border: 1px solid white;
    background: #b5b5b5;
    padding: 2px 5px;
}