.ObjectTree {
    position: relative;
    width: 100%;
    height: 100%;
    //overflow: hidden;

  &.selectTargetMode {
    border: 2px solid #7b5815;

    .stage {
      .stage-title-wrap,
      .item-title-wrap,
      .fade-widget-title-wrap {
        &.allow-event-target{
          .item-event {
            width: 22px;
          }
          &:hover {
            cursor: pointer;
            background-color: #FFA800;
            .stage-title ,
            .item-title,
            .fade-widget-title,
            .item-event {
              background-color: #FFA800;
            }
            .item-event {
              .active {
                background-color: #FFA800;
              }
            }
          }
        }
        &.forbidden-event-target{
          &:hover {
            cursor: pointer;
            background-color: #8F8F8F;
            .stage-title ,
            .item-title,
            .fade-widget-title,
            .item-event {
              background-color: #8F8F8F;
            }
            .item-event {
              .active {
                background-color: #8F8F8F;
              }
            }
          }
        }
      }
    }
  }

    .stage {
        position: absolute;
        left: 0;
        top: 0;
        right: -20px;
        //bottom: -20px;
        //overflow: scroll;
        bottom: 0;
        overflow-y: scroll;

        .stage-title ,
        .item-title,
        .fade-widget-title{
            float: left;
            position: relative;
            width: 220px; //244px;
            min-width: 220px; //244px;
            padding: 2px 2px 2px 22px;
            font-size: 12px;
            color: #adadad;
            border-bottom: 1px solid #151515;
            cursor: pointer;

            &.active {
                background: #39311f;

                //.event-icon {
                //    background-position:-760px -80px;
                //}
            }

            .btn {
                position: absolute;
                left: 2px;
                top: 2px;
                bottom: 2px;
                width: 20px;
                //height: 100%;
                background: #151515;

                span {
                    width: 12px;
                    height: 12px;
                    display: block;
                    background: url("img/button-icon.svg") no-repeat;
                }

                &.show-btn span {
                    background-position: -800px 0;
                }

                &.hide-btn span {
                    background-position: -800px -40px;
                }

                &.none-btn,
                &.none-btn span {
                    background: none;
                }
            }

            .icon {
                //width: 8px;
                width: 12px;
                height: 6px;
                background: url("img/button-icon.svg") no-repeat -1280px 0;
                //margin-right: 3px;
                margin-right: 4px;

                &.close-icon {
                    transform: rotate(-90deg);
                }
            }

            .stage-name-wrap,
            .item-name-wrap,
            .fade-widget-name-wrap{
                @extend %font-omitted;
                width: 100%;
                padding-right: 18px;
                margin: 0 0 0 10px;

                .item-name-input {
                    outline: 0;
                    height: 18px;
                    margin: 0;
                    width: 100%;
                    border: none;
                    padding: 0 5px;
                    background-color: #151515;
                }

                &.stage-module{
                    padding-right: 0;
                    .add-module-btn {
                        width: 37px;
                        min-width: 37px;
                        height: 16px;
                        display: block;
                        margin: 0 2px 0 5px;
                        cursor: pointer;
                        background: url("img/button-icon.svg") no-repeat -1680px -200px;

                        &:hover {
                            background-position: -1680px -240px;
                        }

                        &:active {
                            background-position: -1680px -280px;
                        }
                    }
                }
            }

            p {
                @extend %font-omitted;
                //max-width: 95px;
            }

            .not-icon {
                background: none;
            }

            .lock-icon {
                position: absolute;
                right: 2px;
                width: 14px;
                height: 14px;
                background: url("img/button-icon.svg") no-repeat -360px -200px;
                &:active {
                    background: url("img/button-icon.svg") no-repeat -360px -200px;
                }
            }
        }

        .item-event {
            float: left;
            cursor: pointer;
            position: relative;
            height: 25px;
            width: 24px;
            border-bottom: 1px solid #151515;

            .item-event-empty {
                width: 100%;
                height: 100%;
            }
            .active {
                background: #39311f;
            }

            .event-icon {
                position: absolute;
                right: 5.5px;
                width: 15px;
                height: 15px;
                top: 3.5px;
            }
            .event-icon-normal {
                background: url("img/button-icon.svg") no-repeat -760px 0;
                &.active {
                    background: url("img/button-icon.svg") no-repeat -760px -80px;
                }
            }
            .event-icon-disable {
                background: url("img/button-icon.svg") no-repeat -760px -120px;
                &.active {
                    background: url("img/button-icon.svg") no-repeat -760px -160px;
                }
            }
        }

        .item {
            outline: 0;
            .item-title-wrap {
                outline: 0;
            }
            .item-event {
                height: 23px;
            }
        }
        .stage-title-wrap,
        .fade-widget-title-wrap {
            outline: 0;
        }

        .stage-title-wrap {
            .event-icon {
                top: 4.5px;
            }
        }

        .fade-widget-title-wrap{
            .item-event {
                height: 23px;
            }
            .var-str-icon {
                background: url("img/object-tree.svg") no-repeat -920px 0px;
            }
            .var-num-icon {
                background: url("img/object-tree.svg") no-repeat -960px 0px;
            }
            .func-icon {
                background: url("img/object-tree.svg") no-repeat -760px 0;
            }
            .db-item-icon {
                background: url("img/object-tree.svg") no-repeat -1040px 0;
            }
            .fade-widget-name-wrap{
                margin: 0 0 0 9px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
            }
        }

        .stage-title{
            height: 25px;
            padding-left: 28px;
            outline: 0;

            .stage-icon {
                //width: 14px;
                width: 18px;
                height: 14px;
                margin-left: 3px;
                background: url("img/button-icon.svg") no-repeat -720px 0;

                &.module-icon{
                    background-position: -280px -200px;
                }
            }
        }

        #treeDragPlaceholder {
            height: 2px;
            background-color: #FFA800;
            //border-top: 2px dotted #adadad;
        }
    }

    .item-img {
        max-height: 16px;
        max-width: 16px;
        filter: Gray;
        -webkit-filter: grayscale(100%);
    }
    .fade-widget-icon {
        margin-left: 11px;
    }

    .tool-menu {
        position: absolute;
        z-index: 1;
        background-color: #353535;
        width: 132px;
        border: 1px solid #151515;
        -moz-box-shadow: 5px 5px 14px 5px rgba(0, 0, 0, 0.1);
        //Safariand Google chrome10.0-
        -webkit-box-shadow: 5px 5px 14px 5px rgba(0, 0, 0, 0.1);
        //Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9
        box-shadow:  5px 5px 14px 5px rgba(0, 0, 0, 0.1);
        .menu-group {
            padding: 3px 0;
            .menu-item {
                cursor: pointer;
                padding: 0 12px;
                font-size: 12px;
                height: 20px;
                color: #b5b5b5;
                text-align: center;
                &:hover {
                    background-color: #232323;
                }
            }
        }
        .menu-group-border {
            border-bottom: 1px solid #232323;
        }
    }
}

#treeDragTip {
    color: white;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    position: absolute;
    border-radius: 2px;
    span{
      width: 16px;
      height: 16px;
      display: block;
      float: left;
      background: url("img/button-icon.svg") no-repeat;
    }
    div{
      filter:alpha(opacity=60);
      -moz-opacity:0.6;
      -khtml-opacity: 0.6;
      opacity: 0.6;
      display: block;
      float: left;
      background-color: #008700;
      height: 16px;
      border-radius: 0 2px 2px 0;
      line-height: 16px;
      padding: 0 5px;
    }
}

.ObjectTree ,
.EB--title-search-wrap,
#TimelineView .timeline-node-meta{
    .item-icon {
        width: 16px;
        min-width: 16px;
        height: 16px;
        background: url("img/object-tree.svg") no-repeat;
        display: block;
    }
    .item-icon2 {
        width: 16px;
        min-width: 16px;
        height: 16px;
    }

    .timeline-node-type {
        background: url("img/object-tree.svg") no-repeat;
    }

    .component-icon { background: url("img/button-icon.svg") no-repeat -280px -200px; }

    .shareDb-icon{ background-position: -1160px 0; }
    .personalDb-icon { background-position: -1120px 0; }
    .twoDArr-icon { background-position: -1200px 0; }
    .oneDArr-icon { background-position: -1240px 0; }
    .sock-icon { background-position: -1280px 0;  }

    .rectIcon { background-position: -1520px 0;  }
    .ellipseIcon { background-position: -1560px 0;  }
    .curveIcon { background-position: -920px -160px;  }
    .textIcon { background-position: -1400px 0;  }
    .videoIcon { background-position: 0 -160px;  }
    .audioIcon { background-position: -40px -160px;  }
    .containerIcon { background-position: -1720px 0;  }
    .timerIcon { background-position: -1480px 0;  }
    .trackIcon { background-position: -320px 0;  }
    .wechatIcon { background-position: -880px -160px;  }
    .slidetimerIcon { background-position: -560px -160px;  }
    .bitmaptextIcon { background-position: -1440px 0;  }
    .imageIcon { background-position: -1360px 0;  }
    .igroupIcon { background-position: -1840px 0;  }
    .folderIcon { background-position: -200px -160px;  }
    .buttonIcon { background-position: -1800px 0;  }
    .tapAreaIcon { background-position: -1760px 0;  }
    .qrcodeIcon { background-position: -320px -160px;  }
    .fileIcon { background-position: -400px -160px;  }
    .counterIcon { background-position: -1680px 0;  }
    .remotedeviceIcon { background-position: -120px -160px;  }
    .pcdeviceIcon { background-position: -80px -160px;  }
    .flexIcon { background-position: -1040px -160px;  }
    .htmlIcon { background-position: -1080px -160px;  }
    .pageIcon { background-position: -1320px 0;  }
    .pageContainerIcon { background-position: -1200px -160px; }
    .canvasIcon { background-position: -600px -160px;  }
    .domIcon { background-position: -1160px -160px;;  }
    .inputIcon { background-position: -800px -160px;  }
    .worldIcon { background-position: -160px 0;  }
    .bodyIcon { background-position: -200px 0;  }
    .easingIcon { background-position: -120px 0;  }
    .effectIcon { background-position: -80px 0;  }
    .tableIcon {  background-position: -1120px -160px;  }
}
