/**
 * 属性面板
 */
@mixin title() {
	background-color: #353535;
	color: #b5b5b5;
}
$toBottom:14px;
#PropertyView,
.propertyView{
	position: absolute;
	top: 36px;
	left: 37px;
	width: 260px;
	box-sizing: border-box;
	background: #232323;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
    z-index: 50;
    .form_basic{

	}
    .form_position{

	}
    .form_display{

	}
    .form_tools{

	}
	#PropertyViewHeader {
		@include title();
		font-size: 12px;
		font-weight: normal;
		margin: 0;
		padding: 4px 12px;
		height: 30px;
	    &:hover{
		   cursor:move;
		}
	}
	#PropertyViewBody,
	.propertyViewBody{
		flex: 1;
		overflow-y: auto;
	}

    #PropertyViewBody {
        .db-btn-group {
            width: 100%;
            height: 54px;

            .btn {
                @include border-radius(2px);
                width: 101px;
                height: 22px;
                color: #151515;
                background: #858585;
                font-size: 12px;
                margin-right: 18px;
                cursor: pointer;

                &:last-child{
                    margin-right: 0;
                }

                &:hover {
                    background: #fff;
                }

                &:active {
                    background: #545454;
                }
            }
        }
    }

   .ant-form-full {
	  margin-bottom:$toBottom;
	 &:last-child{
	   margin-bottom: 0;
	 }
	 .ant-input-number.ant-input-number-sm{width: 100%;}
   }

    .ant-input-number {
        height: 22px !important;
        line-height: 22px !important;
    }
    .ant-input-number-input-wrap {
        height: 22px !important;
        line-height: 22px !important;

        input {
            height: 22px !important;
            line-height: 22px !important;
        }
        &:after{
            top: -1px !important;
        }
    }
    .ant-input-number-handler-wrap {
        a {
            height: 10px !important;
            height: 10px !important;

            &.ant-input-number-handler-up .ant-input-number-handler-up-inner {
                 top: -1px !important;
            }
            &.ant-input-number-handler-down .ant-input-number-handler-down-inner{
                top: 1px !important;
            }
        }
    }

    .TdLayout {
        span {
            width: 22px;
            height: 22px;
            display: block;
            margin-right: 10px;
            background: url("img/button-icon.svg") no-repeat;
            cursor: pointer;

            &:nth-child(1){
                background-position: -1760px -200px;
                &:hover { background-position: -1760px -240px; }
                &.active{ background-position: -1760px -280px !important; }
            }

            &:nth-child(2){
                background-position: -1800px -200px;
                &:hover { background-position: -1800px -240px; }
                &.active{ background-position: -1800px -280px !important; }
            }

            &:nth-child(3){
                background-position: -1840px -200px;
                &:hover { background-position: -1840px -240px; }
                &.active{ background-position: -1840px -280px !important; }
            }

            &:nth-child(4){
                background-position: -1880px -200px;
                &:hover { background-position: -1880px -240px; }
                &.active{ background-position: -1880px -280px !important; }
            }
        }
    }

    .table-form_basic_btn {
        @include border-radius(2px);
        width: 176px;
        height: 22px;
        font-size: 12px;
        color: #151515;
        background: #858585;
        cursor: pointer;
        margin-left: 60px;

        &:hover {
            background: #fff;
        }

        &:active {
            background: #545454;
        }
    }

    .TbSelect-icon ,
    .TbColor-icon {
        position: absolute;
        top: 1px;
        right: 0;
        width: 20px;
        height: 20px;
        display: block;
        background: url("img/ico-sprite2.svg") no-repeat;
    }
    .TbSelect-icon{
        background-position: -120px 0;
    }
    .TbColor-icon {
        background-position: -140px 0;
    }

	.ant-form-horizontal {
	  padding-left: 5px;
	  padding-right:10px ;
	  padding-top: 10px;
	  padding-bottom: 10px;
		border-bottom: 1px solid #161616;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	   >.ant-form-half {
		 margin-bottom: $toBottom;
	   }
	    >.ant-form-half:last-child{
		   margin-bottom: 0;
		   .ant-input-number{margin-right: 0;}
		}
	  >.ant-form-half:nth-last-child(2){
		margin-bottom: 0;
	  }


	    >.ant-form-half:nth-child(odd) ,>.ant-form-full{
		  .ant-form-item-label label{
			width: 60px;
		  }
		}
	  >.ant-form-half:nth-child(even){
		.ant-form-item-label label{
		  width: 60px;
		}
	  }
	}

	.ant-collapse {
		width: 280px;
		border-radius: 0;
		border: 1px solid #1a1a1a;
		& > .ant-collapse-item  {
			border-top: 1px solid #1a1a1a;
			&:last-child > .ant-collapse-content {
				border-radius: 0;
			}
		}
	}
	// 标题区
	.ant-collapse-header {
		@include title();
	}
	// 内容区
	.ant-collapse-content {
		background-color: #232323;
	}

	.ant-form-item-label label {
		color: #858585;
	  text-overflow:inherit !important;
	    .originPos{
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  position: relative;
		  top: 4px;
		  background: url("./img/ico-sprite2.svg") no-repeat -60px 0;
		}
	    .rotation{
		  width: 20px;
		  height:20px;
		  display: inline-block;
		  position: relative;
		  top: 4px;
		  background: url("./img/ico-sprite2.svg") no-repeat -80px 0;
		}
	  .ant-lock{
		width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		top: -1px;
		background: url("./img/ico-sprite2.svg") no-repeat -100px 0;
		left: 12px;
		cursor: pointer;
		&:hover{
		  background-position: -100px -20px;
		}
	  }

	  .ant-lock-checked{
		background-position: -100px -40px;
	  }
	}

	// switch
   .ant-switch{
	 border: 1px solid #151515;
	 background-color: #151515;
	 height: 16px !important;
	 width: 32px !important;
   }
  .ant-switch-small:after{height: 14px !important;width: 14px !important;}

  .ant-switch:after{
	background-color: #858585;
  }
	.ant-switch-checked {
		border-color: #ffa800;
		background-color: #ffa800;
	    &:after{
		  left: 15px;
		}
	}

	// input

	.ant-form-item {

		&.ant-form-half {
			width: 120px;
			float: left;
			& + div.ant-form-full {
				clear: both;
			}

			& + div.ant-form-half {

			}
            .ant-select-enabled{width: 60px;}
		}



		.ant-form-item-label {
		    padding: 0;
			label {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;
			}
		}
		.ant-col-r {
			flex: 1;

            &.tbFSStyle ,
            &.tbFSStyle .ant-form-item-control {
                height: 22px;
                line-height: 22px;
                .ant-input-wrapper {
                    height: 22px;
                    line-height: 22px;

                    input {
                        height: 22px;
                        line-height: 22px;
                    }
                }
            }

            &.tbSSStyle ,
            &.tbSSStyle .ant-form-item-control {
                width: 58px;
                height: 22px;
                line-height: 22px;

                .ant-input-number {
                    height: 22px;
                    line-height: 22px;
                }
                .ant-input-number-input-wrap {
                    width: 58px;
                    height: 22px;
                    line-height: 22px;

                    input {
                        width: 58px;
                        height: 22px;
                        line-height: 22px;
                    }
                    &:after{
                        top: -1px;
                    }
                }

                .ant-input-number-handler-wrap {
                    a {
                        height: 10px;
                        &.ant-input-number-handler-up .ant-input-number-handler-up-inner {
                            top: -1px;
                        }

                        &.ant-input-number-handler-down{

                        }
                    }
                }
            }
			.origin_dropdown{
				width: 60px;
				height: 22px;
				line-height: 22px;
				font-size: 12px;
				background-color: #353535;
				border-radius: 2px;
				color: #858585;
				border: 1px solid #444;
				padding: 0 7px;
				&:focus{
				    outline: 0;
					box-shadow: 0 0 0 2px rgba(255,168,0,0.4);
				}
			}
		}

		.ant-input-wrapper {
			input[type='text'] {
				width:100%;
			}
		}

	   .ant-input-px{
            .ant-input-number-input-wrap:after{
			  content: 'px';
			  position: absolute;
			  right: 2px;
			  z-index: 100;
			  top: -4px;
			}
		 &:hover{
		   .ant-input-number-input-wrap:after{
			  display: none;
		   }
		 }
	   }
	  .ant-input-degree{
		width: 60px;
		.ant-input-number-input-wrap:after{
		  content: '°';
		  position: absolute;
		  right: 3px;
		  z-index: 100;
		  font-size: 16px;
		  top: -3px;
		}
		&:hover{
		  .ant-input-number-input-wrap:after{
			display: none;
		  }
		}
	  }
		.ant-input {
			background-color: #353535;
			border-color: #444;
			border-radius: 2px;
			&:hover {
				border-color: #1a1a1a;
			}
		}
	}
  .ant-input-sm,.ant-input-number-input{
	&:focus {
	  border-color: #444;
	  outline: 0;
	  box-shadow: 0 0 0 2px rgba(255, 168, 0, 0.4);
	}
  }
  .ant-input-number-focused,
  .ant-select-focused,
  .ant-select-open .ant-select-selection
  {
	border-color: #444;
	outline: 0;
	box-shadow: 0 0 0 2px rgba(255, 168, 0, 0.4);
  }
  .ant-select-focused .ant-select-selection{
	box-shadow: 0 0 0 2px rgba(255, 168, 0, 0);
  }

	.ant-input-number {
		border: 1px solid #444;
		background: none;
		border-radius: 2px;
	    width: 60px;
		.ant-input-number-handler-wrap {
			background: #151515;
		    width: 16px;
			border-left: 1px solid #313131;
			&:hover {
				color: #ffa800;
			}
			.ant-input-number-handler {
				color: #adadad;
				&:hover {
					background: #151515;
					.ant-input-number-handler-up-inner,
					.ant-input-number-handler-down-inner {
						color: #ffa800;
					}
				}
			}
			.ant-input-number-handler-down {
				border-top: 1px solid #313131;
			}
			.ant-input-number-handler-up-inner {
			    right: 2px;
				&:before {
					content: '\E610';
				}
			}
			.ant-input-number-handler-down-inner {
			  right: 2px;
			  &:before {
					content: '\E611';
				}
			}
		}

		.ant-input-number-input{
			background-color: #353535;
			border-radius: 2px;
			color: #858585;

			&:focus {
				color: #fefefe;
			}
		}
	}


   //select
  .ant-progress-bar,.ant-progress-txt{display:none;}
     #ant-progress{
	   width: 100%;
	   height: 22px;
	   position: absolute;
	   left: 0;
	   top: 0;
	   background: #282828;
	   border: 1px solid #434343;
	   display: none;
	   .ant-progress-bar{
		 height: 100%;
		 width: 50%;
		 color: white;
		 background:#ffa800;
		 text-align: right;
		 line-height: 2em;
		 font-size: 12px;
		 display: block;
	   }
	   .ant-progress-txt{
		 position: absolute;
		 left: 40%;
		 top: 4px;
		 color: white;
		 display: block;
		 font-size: 12px;
		 display: block;
	   }
	 }
	  .ant-select-selection--single {

		border-radius: 2px;
		color: #858585;
		border: 1px solid #444;
		background-color:#353535;
		.ant-select-selection-selected-value{
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;
		  max-width: 149px;
		}
	  }
  .tdColorSwitch {
      .visible-switch{
          float: left;
          margin-left: 8px !important;
      }
  }

	// slide
	.ant-form-item-control {
	  line-height: 14px;
	  .color-input{
		width: 125px !important;
		float: left;

	  }
	  .visible-switch{
		float: left;
		margin-left: 20px;
	  }
	   .slider-input{
		 border: 1px solid #444;
		 background: none;
		 border-radius: 2px;
		 width: 60px !important;
		 height: 22px;
		 float: left;
		 margin-top: 5px;
		 .ant-input-number-handler{height: 11px;}
		 .ant-input-number-input-wrap{
		   height: 22px;
		   line-height: 22px;
		 }
		 .ant-input-number-input{
		  height: 22px;
		 }
		 &:after{
		   content: '%';
		   position: absolute;
		   right: 2px;
		   z-index: 100;
           top: -4px;
       }

		   &:hover:after{
			 display: none;
		   }

	   }
	  .slider-per{
		width: 53%;
		float: left;
	  }

		.ant-slider {
			background-color: #151515;
			border-color: #232323;
			&:hover {
				.ant-slider-handle {
					border-color: #ffa800;
				}
			}
			.ant-slider-track {
				background-color: #ffa800;
			}
			.ant-slider-handle {
				background-color: #858585;
				border-color: #858585;
			}
		}
	}
}

//动态插入到body的弹框

//dropdown

	.dropDownMenu{
  width: 60px;
  color: #858585 !important;
  border: 1px solid #353535 !important;
  background: #353535;
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 2px 2px 5px #1d1d1d;

  .ant-select-dropdown-menu-item:nth-child(1) .originIcon{	background-position: -4px -8px;}
  .ant-select-dropdown-menu-item:nth-child(2) .originIcon{	background-position: -36px -8px;}
  .ant-select-dropdown-menu-item:nth-child(3) .originIcon{	background-position: -68px -8px;}
  .ant-select-dropdown-menu-item:nth-child(4) .originIcon{	background-position: -100px -8px;}
  .ant-select-dropdown-menu-item:nth-child(5) .originIcon{	background-position: -132px -8px;}
  .ant-select-dropdown-menu-item:nth-child(6) .originIcon{	background-position: -164px -8px;}
  .ant-select-dropdown-menu-item:nth-child(7) .originIcon{	background-position: -196px -8px;}
  .ant-select-dropdown-menu-item:nth-child(8) .originIcon{	background-position: -228px -8px;}
  .ant-select-dropdown-menu-item:nth-child(9) .originIcon{	background-position: -260px -8px;}

  .ant-select-dropdown-menu-item:nth-child(1):hover .originIcon{background-position: -4px -40px;}
  .ant-select-dropdown-menu-item:nth-child(2):hover .originIcon{background-position: -36px -40px;}
  .ant-select-dropdown-menu-item:nth-child(3):hover .originIcon{background-position: -68px -40px;}
  .ant-select-dropdown-menu-item:nth-child(4):hover .originIcon{background-position: -100px -40px;}
  .ant-select-dropdown-menu-item:nth-child(5):hover .originIcon{background-position: -132px -40px;}
  .ant-select-dropdown-menu-item:nth-child(6):hover .originIcon{background-position: -164px -40px;}
  .ant-select-dropdown-menu-item:nth-child(7):hover .originIcon{background-position: -196px -40px;}
  .ant-select-dropdown-menu-item:nth-child(8):hover .originIcon{background-position: -228px -40px;}
  .ant-select-dropdown-menu-item:nth-child(9):hover .originIcon{background-position: -260px -40px;}

  .ant-select-dropdown-menu-item:hover {
      .ant-dropdown-menu-item:nth-child(1) .originIcon {
          background-position: -4px -8px;
      }
      .ant-dropdown-menu-item:nth-child(2) .originIcon {
          background-position: -36px -8px;
      }
      .ant-dropdown-menu-item:nth-child(3) .originIcon {
          background-position: -68px -8px;
      }
      .ant-dropdown-menu-item:nth-child(4) .originIcon {
          background-position: -100px -8px;
      }
      .ant-dropdown-menu-item:nth-child(5) .originIcon {
          background-position: -132px -8px;
      }
      .ant-dropdown-menu-item:nth-child(6) .originIcon {
          background-position: -164px -8px;
      }
      .ant-dropdown-menu-item:nth-child(7) .originIcon {
          background-position: -196px -8px;
      }
      .ant-dropdown-menu-item:nth-child(8) .originIcon {
          background-position: -228px -8px;
      }
      .ant-dropdown-menu-item:nth-child(9) .originIcon {
          background-position: -260px -8px;
      }

      .ant-dropdown-menu-item:nth-child(1):hover .originIcon {
          background-position: -4px -40px;
      }
      .ant-dropdown-menu-item:nth-child(2):hover .originIcon {
          background-position: -36px -40px;
      }
      .ant-dropdown-menu-item:nth-child(3):hover .originIcon {
          background-position: -68px -40px;
      }
      .ant-dropdown-menu-item:nth-child(4):hover .originIcon {
          background-position: -100px -40px;
      }
      .ant-dropdown-menu-item:nth-child(5):hover .originIcon {
          background-position: -132px -40px;
      }
      .ant-dropdown-menu-item:nth-child(6):hover .originIcon {
          background-position: -164px -40px;
      }
      .ant-dropdown-menu-item:nth-child(7):hover .originIcon {
          background-position: -196px -40px;
      }
      .ant-dropdown-menu-item:nth-child(8):hover .originIcon {
          background-position: -228px -40px;
      }
      .ant-dropdown-menu-item:nth-child(9):hover .originIcon {
          background-position: -260px -40px;
      }
  }

  .ant-dropdown-menu-item:hover{
	background: #151515;
	color: white;
  }
		
  .ant-dropdown-menu-item-active,.ant-dropdown-menu-item-selected{
	background: #151515;
	color: white;
  }
  >div{
	 width: 200px;
  }
  .ant-select-dropdown-menu{
	overflow: visible;
	max-height: 300px;
	.optionline{
	  border-bottom:1px solid #666;
	}
  }
  .originIcon{
	width: 20px;
	height: 15px;
	float: left;
	background: url(./img/origin-position.svg) no-repeat;
	display: inline-block;
	margin-right: 3px;
	margin-left: -10px;
  }
}

form .ant-select, form .ant-cascader-picker{width:100%;}

/*
*自定义组件
*/
.switchMore{
   background: #353535;
   width: 120px;
  height: 18px;
   overflow: hidden;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  .bg_gray{
   background: #353535 !important;;
  }
  .switchMore-ul{
	overflow: hidden;
	width:120px;
	height: 100%;
	.cur{
	  background: #151515;
	  color: #eb9b02;
	  &:hover{
		background: #151515;
		color: #eb9b02;
	  }
	}
	&.off:after{
	  left: 63px;
	}
	&.mid:after{
        left:31px;
	}
	&.on:after{
	  left:0;
	}
	li{
	   float: left;
	   width: 33.33%;
	   height: 100%;
	  text-align: center;
	  line-height: 1.5em;
	  color: #858585;
	 }
	li:hover{
	  color: white;
	  background: #474747;
	}
	.switchMore-ul-on{
	  border-left:1px solid #151515 ;
	  border-right:1px solid #151515 ;
	}
	.switchMore-ul-mid{}
	.switchMore-ul-off{}
  }
}











