/**
 * 属性面板
 */
@mixin title() {
	background-color: #353535;
	color: #b5b5b5;
}

#PropertyView {
	position: absolute;
	top: 36px;
	left: 36px;
	width: 320px;
	box-sizing: border-box;
	background: #232323;
	border: 1px solid #1a1a1a;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	#PropertyViewHeader {
		@include title();
		font-size: 14px;
		font-weight: normal;
		margin: 0;
		padding: 4px 12px;
		height: 30px;
	}
	#PropertyViewBody {
		padding: 0 12px;
		flex: 1;
		overflow-y: auto;
	}

	.ant-form-horizontal {
		//margin-bottom: 16px;
		padding: 12px 0;
		border-bottom: 1px solid #161616;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
		> .ant-form-item:last-child {
			margin-bottom: 0;
		}
	}

	.ant-collapse {
		width: 280px;
		border-radius: 0;
		border: 1px solid #1a1a1a;
		& > .ant-collapse-item  {
			border-top: 1px solid #1a1a1a;
			&:last-child > .ant-collapse-content {
				border-radius: 0;
			}
		}
	}
	// 标题区
	.ant-collapse-header {
		@include title();
	}
	// 内容区
	.ant-collapse-content {
		background-color: #232323;
	}

	.ant-form-item-label label {
		color: #b5b5b5;
	}
	// switch
	.ant-switch-checked {
		border-color: #ffa800;
		background-color: #ffa800; 
	}

	// input
	.ant-form-item {
		margin-bottom: 12px;

		&.ant-form-half {
			width: 50%;
			float: left;
			& + div.ant-form-full {
				clear: both;
			}

			& + div.ant-form-half {

			}

		}
		.ant-form-item-label {
			width: 54px;
			label {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;
			}
		}
		.ant-col-r {
			flex: 1;
		}

		.ant-input-wrapper {
			input[type='text'] {
				max-width: 80px;
			}
		}

		.ant-input {
			background-color: #353535;
			border-color: #444;
			border-radius: 2px;
			&:hover {
				border-color: #1a1a1a;
			}
		}
	}
	.ant-input-number {
		border: 1px solid #444;
		background: none;
		border-radius: 2px;

		.ant-input-number-handler-wrap {
			background: #151515;
			border-left: 1px solid #313131;
			&:hover {
				color: #ffa800;
			}
			.ant-input-number-handler {
				color: #adadad;
				&:hover {
					background: #151515;
					.ant-input-number-handler-up-inner,
					.ant-input-number-handler-down-inner {
						color: #ffa800;
					}
				}
			}
			.ant-input-number-handler-down {
				border-top: 1px solid #313131;
			}
			.ant-input-number-handler-up-inner {
				&:before {
					content: '\E610';
				}
			}
			.ant-input-number-handler-down-inner {
				&:before {
					content: '\E611';
				}
			}
		}
		.ant-input-number-input {
			background-color: #353535;
			border-radius: 2px;
			color: #858585;
			&:focus {
				color: #fefefe;
			}
		}
	}

	// slide
	.ant-form-item-control {
		.ant-slider {
			background-color: #151515;
			border-color: #232323;
			&:hover {
				.ant-slider-handle {
					border-color: #ffa800;
				}
			}
			.ant-slider-track {
				background-color: #ffa800;
			}
			.ant-slider-handle {
				background-color: #858585;
				border-color: #858585;
			}
		}
	}
}