/**
 * 属性面板
 */
@mixin title() {
	background-color: #353535;
	color: #b5b5b5;
}

#PropertyView {
	position: absolute;
	top: 36px;
	left: 36px;
	width: 260px;
	box-sizing: border-box;
	background: #232323;
	border: 1px solid #1a1a1a;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	#PropertyViewHeader {
		@include title();
		font-size: 14px;
		font-weight: normal;
		margin: 0;
		padding: 4px 12px;
		height: 30px;
	}
	#PropertyViewBody {
		flex: 1;
		overflow-y: auto;
	}

   .ant-form-full {
	 .ant-input-number.ant-input-number-sm{width: 100%;}
   }

	.ant-form-horizontal {
		padding:10px 10px 5px 5px;
		border-bottom: 1px solid #161616;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
		> .ant-form-item:last-child {
			margin-bottom: 0;
		}
	    >.ant-form-half:last-child{
		   .ant-input-number{margin-right: 0;}
		}
	    >.ant-form-half:nth-child(odd) ,>.ant-form-full{
		  .ant-form-item-label label{
			width: 60px;
		  }
		}
	  >.ant-form-half:nth-child(even){
		.ant-form-item-label label{
		  width: 60px;
		}
	  }
	}

	.ant-collapse {
		width: 280px;
		border-radius: 0;
		border: 1px solid #1a1a1a;
		& > .ant-collapse-item  {
			border-top: 1px solid #1a1a1a;
			&:last-child > .ant-collapse-content {
				border-radius: 0;
			}
		}
	}
	// 标题区
	.ant-collapse-header {
		@include title();
	}
	// 内容区
	.ant-collapse-content {
		background-color: #232323;
	}

	.ant-form-item-label label {
		color: #b5b5b5;
	  text-overflow:inherit !important;
	    .originPos{
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  position: relative;
		  top: 4px;
		  background: url("./img/ico-sprite2.svg") no-repeat -60px 0;
		}
	    .rotation{
		  width: 20px;
		  height:20px;
		  display: inline-block;
		  position: relative;
		  top: 4px;
		  background: url("./img/ico-sprite2.svg") no-repeat -80px 0;
		}
	  .ant-lock{
		width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		top: -1px;
		background: url("./img/ico-sprite2.svg") no-repeat -100px 0;
		left: 12px;
		cursor: pointer;
		&:hover{
		  background-position: -100px -20px;
		}
	  }

	  .ant-lock-checked{
		background-position: -100px -40px;
	  }
	}





	// switch
   .ant-switch{
	 border: 1px solid #151515;
	 background-color: #151515;
   }
  .ant-switch:after{
	background-color: #858585;
  }
	.ant-switch-checked {
		border-color: #ffa800;
		background-color: #ffa800; 
	}

	// input

	.ant-form-item {
		margin-bottom: 0px;

		&.ant-form-half {
			width: 120px;
			float: left;
			& + div.ant-form-full {
				clear: both;
			}

			& + div.ant-form-half {

			}
            .ant-select-enabled{width: 60px;}
		}



		.ant-form-item-label {
			label {
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				display: block;
			}
		}
		.ant-col-r {
			flex: 1;
		}

		.ant-input-wrapper {
			input[type='text'] {
				width:100%;
			}
		}

	   .ant-input-px{
            .ant-input-number-input-wrap:after{
			  content: 'px';
			  position: absolute;
			  right: 2px;
			  z-index: 100;
			  top: -4px;
			}
		 &:hover{
		   .ant-input-number-input-wrap:after{
			  display: none;
		   }
		 }
	   }
	  .ant-input-degree{
		width: 60px;
		.ant-input-number-input-wrap:after{
		  content: '°';
		  position: absolute;
		  right: 3px;
		  z-index: 100;
		  font-size: 16px;
		  top: -3px;
		}
		&:hover{
		  .ant-input-number-input-wrap:after{
			display: none;
		  }
		}
	  }
		.ant-input {
			background-color: #353535;
			border-color: #444;
			border-radius: 2px;
			&:hover {
				border-color: #1a1a1a;
			}
		}
	}
	.ant-input-number {
		border: 1px solid #444;
		background: none;
		border-radius: 2px;
	  width: 60px;

		.ant-input-number-handler-wrap {
			background: #151515;
		    width: 16px;
			border-left: 1px solid #313131;
			&:hover {
				color: #ffa800;
			}
			.ant-input-number-handler {
				color: #adadad;
				&:hover {
					background: #151515;
					.ant-input-number-handler-up-inner,
					.ant-input-number-handler-down-inner {
						color: #ffa800;
					}
				}
			}
			.ant-input-number-handler-down {
				border-top: 1px solid #313131;
			}
			.ant-input-number-handler-up-inner {
			    right: 2px;
				&:before {
					content: '\E610';
				}
			}
			.ant-input-number-handler-down-inner {
			  right: 2px;
			  &:before {
					content: '\E611';
				}
			}
		}

		.ant-input-number-input{
			background-color: #353535;
			border-radius: 2px;
			color: #858585;

			&:focus {
				color: #fefefe;
			}
		}
	}


   //select
	  .ant-select-selection--single {

		border-radius: 2px;
		color: #858585;
		border: 1px solid #444;
		background-color:#353535;
	  }


	// slide
	.ant-form-item-control {
	  .color-input{
		width: 125px !important;
		float: left;

	  }
	  .visible-switch{
		float: left;
		margin-left: 20px;
	  }
	   .slider-input{
		 border: 1px solid #444;
		 background: none;
		 border-radius: 2px;
		 width: 60px;
		 height: 22px;
		 float: left;
		 margin-top: 5px;
		 .ant-input-number-handler{height: 11px;}
		 .ant-input-number-input-wrap{
		   height: 22px;
		   line-height: 22px;
		 }
		 .ant-input-number-input{
		  height: 22px;
		 }
		 &:after{
		   content: '%';
		   position: absolute;
		   right: 2px;
		   z-index: 100;
		   top: -4px;
		 }

		   &:hover:after{
			 display: none;
		   }

	   }
	  .slider-per{
		width: 53%;
		float: left;
	  }
		.ant-slider {
			background-color: #151515;
			border-color: #232323;
			&:hover {
				.ant-slider-handle {
					border-color: #ffa800;
				}
			}
			.ant-slider-track {
				background-color: #ffa800;
			}
			.ant-slider-handle {
				background-color: #858585;
				border-color: #858585;
			}
		}
	}
}

//动态插入到body的弹框

//select
.ant-select-dropdown{
  border-radius: 2px !important;
  color: #858585 !important;
  border: 1px solid #444 !important;
  background: #353535;
  .ant-select-dropdown-menu-item:hover{
	background: #151515;
	color: white;
  }
  .ant-select-dropdown-menu-item-active,.ant-select-dropdown-menu-item-selected{
	background: #151515;
	color: white;
  }
  >div{
	overflow: visible !important;
  }
  .ant-select-dropdown-menu{
	overflow: visible;
  }
}

form .ant-select, form .ant-cascader-picker{width:100%;}