$size: 25px;

@mixin btn() {
	background-image: url(img/timeline-icons.svg);
	background-repeat: no-repeat;
};
@mixin clearInput {
	-webkit-appearance: none;
	border: none;
	background: none;
	outline:none;
	cursor: pointer;
};

@mixin bg($x, $y) {
	background-position: #{-40 * $x}px #{-40 * $y}px;
};

@mixin bg-btn($i) {
	@include bg($i, 0);
	&:hover {
		@include bg($i, 1);
	}
	&:active {
		@include bg($i, 2);
	}
}

@mixin bg-btn2($i) {
	@include btn();
	@include bg($i, 0);
	&.active,
	&:active {
		@include bg($i, 1);
	}
}
@mixin icon($i) {
	@include bg($i, 0);
}

#TimelineView {
	position: absolute;
	bottom: 0;
	left: 37px;
    right: 281px;
	z-index: 9;
	background-color: #232323;
	overflow: hidden;

	button {
		@include clearInput();
	}

	.timeline-row {
		height: $size;
		.timline-column-left {
			height: $size;
			width: 170px;
            min-width: 170px;
		}
		.timline-column-right {
			height: $size;
			//border-left: 1px solid #151515;
		}
	}

	// 头部
	#TimelineHeader {
		$height: 26px;
		height: $height;
		background-color: #303030;
		border-bottom: 1px solid #141414;

		#TimelineTitle {
            width: 62px;
            min-width: 62px;
            text-align: center;
			color: #fff;
			height: $height;
			line-height: $height;
            font-size: 12px;
		}

		#TimelineNodeDuration {
			//display: inline-block;
			height: $height - 6;
			line-height: $height - 6;
			position: relative;
			background-color: #151515;
			border-radius: 2px;

			#TimelineIndicator {
				@include btn();
                width: 16px;
                height: 16px;
                margin: 0 10px 0 8px;
                display: block;
                background-position: 2px 1px;

                &.active{
                    background-position: 0 -40px;
                }
			}
			input {
                width: 62px;
				-webkit-appearance: none;
				background: none;
				border: none;
				outline: none;
				height: 20px;
				line-height: 20px;
                color: #b5b5b5;
			}
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
		}

		&.timline-row,
		.timline-column-left,
		.timline-column-right {
			height: $height;
		}

		#TimelineNodeAction {
			border-left: none;
			button {
				width: $height;
				height: $height;
				display: inline-block;
				@include btn();
			}
			#TimelineNodeActionPrev {
				@include bg(1, 1);

                &.active{
                    @include bg(1, 2);
                }
			}
			#TimelineNodeActionModify {
				@include bg(2, 2);
				&.active,
				&.add {
					@include bg(2, 0);
				}
				&.active.delete {
					@include bg(2, 1);
				}
			}
			#TimelineNodeActionNext {
				@include bg(3, 1);

                &.active{
                    @include bg(3, 2);
                }
			}
		}
	}

	// 标尺栏
	#TimelineTool {
        border-bottom: 1px solid #151515;
		#TimelinePlay {
            position: relative;
			display: flex;
			justify-content: space-around;
            //border-right: 1px solid #151515;

            .line {
                position: absolute;
                right: 0;
                bottom: 1px;
                width: 1px;
                height: 5px;
                background: #151515;
            }

			button {
				width: $size;
				height: $size;
				display: inline-block;
				background-image: url(img/timeline-icons.svg);
				background-repeat: no-repeat;
			}
			#TimelinePlayBegin {
				@include bg-btn(4);
			}
			#TimelinePlayStart {
				@include bg-btn(5);
			}
			#TimelinePlayPause {
				@include bg-btn(11);
			}
			#TimelinePlayEnd {
				@include bg-btn(6);
			}
		}

		#TimelineRuler {
            @include flexbox;
            @include align-items(stretch);
			flex: 1;
            height: 24px;
            background: #424242;
            position: relative;

            &:after{
                content: '';
                width: 5px;
                height: 24px;
                background: #737373;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }

			//&.timline-column-right {
			//	padding-right: 20px;
			//}

            .unit-0 {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                font-size: 12px;
                color: #aeaeae;
            }
            .unit {
                @include flexbox;
                @include align-items(stretch);
                position: absolute;
                z-index: 2;
                margin: 0;
                font-size: 12px;
                color: #aeaeae;

                li{
                    @include flex(1);
                    position: relative;

                    span{
                        position: absolute;
                        right: -50px;
                        width: 100px;
                        text-align: center;
                        display: block;
                    }
                }
            }
			.ant-slider {
                //@include flex(1);
				background: none;
				border: none;
				height: 24px;
                margin: 0;
                padding: 0;
			}
			.ant-slider-handle {
				width: 24px;
				height: 24px;
				margin: 0 0 0 -12px;
				border: none;
				background-color: transparent;
				@include btn();
				@include bg(8, 0);
                z-index: 4;
                pointer-events:none;
				//transform: translateX(-4px);

				&:active {
					box-shadow: none;
				}
				&:before {
					content: "";
					height: 99999999px;
					width: 1px;
					background: red;
					display: block;
                    position: absolute;
                    top: 15px;
                    left: 11.3px;
                    pointer-events: none;
				}
			}
			.ant-slider-track {
				background: none;
			}
			.ant-slider-mark {
				background: url(img/ruler.png) repeat-x bottom left;
				height: 24px;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
			}

			#TimelineRulerNumbers {
				height: 16px;
			}
			#TimelineRulerMap {
				height: 7px;
				background-image: url(img/ruler.png);
				background-repeat: repeat-x;
			}
			#TimelineRulerSlide {
				position: absolute;
				bottom: 0;
				width: 24px;
				height: 24px;
				@include btn();
				@include bg(8, 0);
				cursor: pointer;
			}
		}
	}

	#TimlineNodeContent {
		position: relative;
		$num: 6;
		width: 100%;
		height: #{25 * $num}px;

		#TimlineNodeList {
			height: #{25 * $num}px;
            position: absolute;
            left: 0;
            right: -20px;
			display: block;
			//width: 100%;
			overflow-y: scroll;
            overflow-x: hidden;
			box-sizing: initial;

            ul{
                height: 100%;
                margin: 0;
                padding: 0;
            }

            li{
                width: 100%;
                border-bottom: none !important;

                .timline-column-left{
                    height: 25px;
                    border-bottom: 1px solid #151515;
                }

                .timline-column-right {
                    @include flexbox;
                    @include align-items(stretch);

                    &:after{
                        @include flex(1);
                        content: "";
                    }
                }
            }
		}

		#TimelineRulerAlign {
			position: absolute;
			width: 1px;
			height: 100%;
			top: 0;
			background: #ff0000;
			display: block;
			z-index: 99;

			&:before {
				content: "";
				height: 8px;
				left: 0;
				top: -8px;
				position: relative;
				width: 1px;
				background: #ff0000;
				display: block;
			}
		}
	}

	// 列表
	.timeline-node {
		border-bottom: 1px solid #141414;
		&:last-child {
			border-bottom: none;
		}
		.timline-column-right {
			//padding-right: 10px;
		}

		&.active {
			.ant-slider {
				//background-color: #1f4240;
                opacity: 1;
			}
		}
	}
	.timeline-node-track {
		position: relative;
		flex: 1;
		// 使用 ant design 的组件

		.ant-slider {
            position: relative;
			background: none;
			border: none!important;
			height: 24px;
			margin: 0;
			border-radius: 0;
            opacity: 0.6;

            .locus-layer {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 2;
                //background: #000;
            }

			.ant-slider-handle {
                position: absolute;
                z-index: 3;
				width: 24px;
				height: 24px;
				@include bg-btn2(7);
				cursor: pointer;
				border: none !important;
				background-color: transparent;
				margin-top: 0;
				transform: translateX(-5px);

				&:active {
					box-shadow: none;
				}
			}

			.ant-slider-track {
				background: none;
				margin: 0;
				height: 25px;
                border-bottom: 1px solid #151515;
			}

			.ant-slider-mark {
				height: 1px;
				background: #151515;
				top: 12px;
				z-index: 0;
			}
		}
	}
	.timeline-node-meta {
        height: 24px;
        border-right: 1px solid #151515;

		.timeline-node-type {
			width: 14px;
			height: 14px;
			display: inline-block;
            margin: 0 10px 0 20px;
            padding: 0;
            //background: #fff;
		}

		.timeline-node-name {
			height: 24px;
			line-height: 24px;
			color: #b5b5b5;
			display: block;
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	.timeline-node-track-breakpoint {
		width: 24px;
		height: 24px;
		position: absolute;
		@include bg-btn2(7);
		cursor: pointer;
	}

}
