@import "./base/variables";

#ToolBox {
	position: absolute;
	left: 0;
	top: 36px;
	bottom: 0;
	width: 36px;
	background-color: $colorNavBackground;
	z-index: 110;
	box-sizing: border-box;

	ul,
	li {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	button {
		outline: none;
		background: none;
		border: none;
	}

	&.expanded {
		width: 64px;

		#ToolBoxHeader {
			#ToolBoxHeaderExpanedButton {
				background-position: 0 0;
				&:hover {
					background-position: 0 -20px;
				}
				&:active {
					background-position: 0 -40px;
				}
			}
		}
		.ToolBoxGroup {
			.ToolBoxButtonGroup {
				border-bottom: 1px solid #232323;
				margin: {
					left: 4px;
					right: 4px;
				}
				padding-bottom: 4px;
				text-align: left;
				> .ToolBoxButtonPrimary {
					width: 28px;
					&:hover {
						background-color: #262626;
					}
					&.tool-expanded {
						&:hover {
							background-color: $colorNavBackground !important;
						}
						&.active {
							background-color: #282828 !important;
						}
					}
				}
				&.hasSecondaryMenu {
					> .ToolBoxButtonPrimary {
						display: none;
					}
					> .ToolBoxButtonSubGroup {
						display: block;
						position: static;
						border: none;
						overflow: hidden;
						padding: 0;

						.ToolBoxButton {
							width: 28px;
							padding-left: 0;
							float: left;
							&.tool-expanded {
								&:hover {
									background-color: $colorNavBackground !important;
								}
							}
							&.ToolBoxButtonPrimary.active {
								background-color: #282828 !important;
							}
							&:after {
								display: none;
							}
						}
						.ToolBoxButtonName {
							display: none;
						}
					}
				}
			}
		}

        //.stage-zoom{
        //    height: 40px;
        //
        //    .less-btn{
        //        bottom: 0;
        //        left: 38px;
        //    }
        //
        //    .plus-btn {
        //        top: 24px;
        //        left: 10px;
        //    }
        //
        //    .size-input {
        //        top: 0;
        //        width: 44px;
        //        margin-left: 10px;
        //    }
        //}
	}

	#ToolBoxHeader {
		background-color: #2d2d2d;
		border-bottom: 1px solid #262626;
		height: 11px;
		#ToolBoxHeaderExpanedButton {
			border: none;
			//background: none;
			width: 20px;
			height: 11px;
			display: block;
			background: url("img/toolbox-arrow.svg") no-repeat -30px 0;
			&:hover {
				background-position: -30px -20px;
			}
			&:active {
				background-position:-30px -40px;
			}
		}
	}

	.ToolBoxGroup {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.ToolBoxButtonGroup {
		position: relative;
		margin-bottom: 4px;

		> .ToolBoxButtonPrimary {
			.ToolBoxButtonName {
				display: none;
			}
		}

		&.hasSecondaryMenu {
			.ToolBoxButtonPrimary {
				position: relative;
				&:after {
					content: "";
					width: 0;
					height: 0;
					border-bottom: 4px solid #b5b5b5;
					border-left: 4px solid transparent;
					position: absolute;
					right: 2px;
					bottom: 2px;
				}
			}
		}

		.ToolBoxButton {
			-webkit-appearance: none;
			display: block;
			border: none;
			background: none;
			img {
				display: block;
				width: 18px;
				height: 18px;
				margin: 5px;
				opacity: 0.6;
			}
			&:hover {
				img {
					opacity: 1;
				}
			}
			&.active {
				background: #1e1e1e;
				border-radius: 2px;
				img {
					opacity: 1;
				}
			}
			&:disabled {
				opacity: 0.3;
				cursor: not-allowed;
			}
		}
		.ToolBoxButtonSubGroup {
			display: none;
			position: absolute;
			left: 36px;
			top: 0;
			padding: 2px;
			background-color: #353535;
			border: 1px solid #000;
			&.visible {
				display: block;
				background-color: #3e3e3e;
				border: 1px solid #151515;
				border-radius: 0 2px 2px 0;
				box-shadow: 3px 3px 5px rgba(21,21,21,0.5);
				img {
					margin: 4px;
				}
			}
			.ToolBoxButton {
				width: 118px;
				padding-left: 8px;
				&:hover {
					background-color: #282828 !important;
					.ToolBoxButtonName {
						color: white;
					}
				}
				&.active {
					background-color: transparent !important;
					&:after {
						content: "";
						width: 4px;
						height: 4px;
						border-left: 4px solid #b5b5b5;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						position: absolute;
						left: 3px;
						top: 9px;
					}
					.ToolBoxButtonName {
						color: #fff;
					}
				}
				img {
					float:left;
				}
				.ToolBoxButtonName {
					float: left;
					display: block;
					height: 26px;
					line-height: 26px;
					color: #aeaeae;
				}
			}
		}
	}

    //.stage-zoom{
    //    position: absolute;
    //    left: 0;
    //    bottom: 16px;
    //    width: 100%;
    //    height: 56px;
    //
    //    .less-btn{
    //        bottom: 0;
    //        left: 10px;
    //    }
    //
    //    .plus-btn {
    //        top: 0;
    //        left: 10px;
    //    }
    //
    //    .less-btn ,
    //    .plus-btn{
    //        @include border-radius(8px);
    //        position: absolute;
    //        width: 16px;
    //        height: 16px;
    //        background: #b5b5b5;
    //
    //        &:hover {
    //            background: #fff;
    //        }
    //
    //        &:active {
    //            background: #b5b5b5;
    //        }
    //
    //        span {
    //            position: absolute;
    //            background: #353535;
    //            display: block;
    //        }
    //
    //        .heng {
    //            width: 10px;
    //            height: 2px;
    //            left: 3px;
    //            top: 7px;
    //        }
    //
    //        .shu {
    //            width: 2px;
    //            height: 10px;
    //            left: 7px;
    //            top: 3px;
    //        }
    //    }
    //
    //    .size-input {
    //        position: absolute;
    //        top: 19px;
    //        color: #b5b5b5;
    //        width: 100%;
    //        height: 18px;
    //        border-radius: 2px;
    //        -webkit-transition:background-color 0.5s ease-in-out;
    //        -moz-transition:background-color 0.5s ease-in-out;
    //        -o-transition:background-color 0.5s ease-in-out;
    //        transition:background-color 0.5s ease-in-out;
    //        background: none;
    //
    //        &:hover {
    //            background-color: #232323;
    //        }
    //
    //        .ant-input-number {
    //            border: none;
    //            background: none;
    //            width: 100%;
    //            height: 18px;
    //            //margin-left: 2px;
    //
    //            .ant-input-number-handler-wrap {
    //                display: none;
    //            }
    //            .ant-input-number-input-wrap{
    //                height: 18px;
    //                line-height: 18px;
    //            }
    //            .ant-input-number-input {
    //                margin-top: 0;
    //                width: 100%;
    //                text-align: center;
    //                height: 18px;
    //                line-height: 18px;
    //                background: none;
    //                padding: 0;
    //                color: #b5b5b5;
    //                border: none;
    //                &:focus {
    //                    color: #fefefe;
    //                }
    //            }
    //        }
    //        .ant-input-number-focused {
    //            background-color: #1b1b1b;
    //            outline: none;
    //            border: none;
    //            box-shadow: none;
    //        }
    //    }
    //}
}

.ant-modal-mask {
	background-color: rgba(0, 0, 0, 0.6);
}

.tool-box-button-modal {
	.ant-modal-content {
		border-radius: 2px;
		background-color: #353535;
		//Firefox4.0-
		-moz-box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.3);
		//Safariand Google chrome10.0-
		-webkit-box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.3);
		//Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9
		box-shadow:  0 0 14px 5px rgba(0, 0, 0, 0.3);

		.ant-modal-header {
			//height: 40px;
			background-color: #545454;
			padding: 0;
			border-radius: 0;
			border:none;
			.ant-modal-title {
				.title {
					color: #fff;
					height: 40px;
					span {
						height: 40px;
						line-height: 40px;
						font-weight: normal;
						vertical-align: top;
					}
				}

			}
		}
		.ant-modal-body {
			padding: 9.5px 9.5px 0 9.5px;
			.body-textarea {
				width: 469px;
				height: 200px;
				background-color: #2f2f2f;
				resize: none;
				border:1px solid #232323;
				color: #fff;
				outline: none;
				padding: 5px;
			}
		}
		.ant-modal-footer {
			border: none;
			text-align: center;
			height: 66px;
			padding: 20px 0;
			.ant-btn-lg {
				padding: 0;
				border-radius: 2px;
				width: 100px;
				height: 26px;
				color: #262626;
				font-weight: normal;
				line-height: 24px;
			}
			.ant-btn-ghost {
				border: 1px solid #7b7b7b;
				background-color: #7b7b7b;
				outline: none;
				&:hover {
					border: 1px solid #b5b5b5;
					background-color: #b5b5b5;
				}
				&:active {
					border: 1px solid #545454;
					background-color: #545454;
				}
			}
			.ant-btn-primary {
				margin-left: 40px;
				border: 1px solid #b5b5b5;
				background-color: #b5b5b5;
				outline: none;
				&:hover {
					border: 1px solid #ffffff;
					background-color: #ffffff;
				}
				&:active {
					border: 1px solid #545454;
					background-color: #545454;
				}
			}
		}
	}
}