@import "./base/variables";

#ToolBox {
	position: absolute;
	left: 0;
	top: 36px;
	bottom: 0;
	width: 36px;
	background-color: $colorNavBackground;
	z-index: 999;
	box-sizing: border-box;
	ul,
	li {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	button {
		outline: none;
		background: none;
		border: none;
	}

	&.expanded {
		width: 64px;

		#ToolBoxHeader {
			#ToolBoxHeaderExpanedButton {
				background-position: 0 0;
				&:hover {
					background-position: 0 -20px;
				}
				&:active {
					background-position: 0 -40px;
				}
			}
		}
		.ToolBoxGroup {
			.ToolBoxButtonGroup {
				border-bottom: 1px solid #232323;
				margin: {
					left: 4px;
					right: 4px;
				}
				padding-bottom: 4px;
				text-align: left;
				> .ToolBoxButtonPrimary {
					width: 28px;
					&:hover {
						background-color: #262626;
					}
				}
				&.hasSecondaryMenu {
					> .ToolBoxButtonPrimary {
						display: none;
					}
					> .ToolBoxButtonSubGroup {
						display: block;
						position: static;
						border: none;
						overflow: hidden;
						padding: 0;

						.ToolBoxButton {
							width: 28px;
							padding-left: 0;
							float: left;
							&.ToolBoxButtonPrimary.active {
								background-color: #282828; 
							}
							&:after {
								display: none;
							}
						}
						.ToolBoxButtonName {
							display: none;
						}
					}
				}
			}
		}
	}

	#ToolBoxHeader {
		background-color: #2d2d2d;
		border-bottom: 1px solid #262626;
		height: 11px;
		#ToolBoxHeaderExpanedButton {
			border: none;
			background: none;
			width: 20px;
			height: 11px;
			display: block;
			background: {
				image: url(/img/toolbox-arrow.svg);
				repeat: no-repeat;
				position: -30px 0;
			}
			&:hover {
				background-position: -30px -20px;
			}
			&:active {
				background-position:-30px -40px;
			}
		}
	}

	.ToolBoxGroup {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.ToolBoxButtonGroup {
		position: relative;
		margin-bottom: 4px;

		> .ToolBoxButtonPrimary {
			.ToolBoxButtonName {
				display: none;
			}
		}

		&.hasSecondaryMenu {
			.ToolBoxButtonPrimary {
				position: relative;
				&:after {
					content: "";
					width: 0;
					height: 0;
					border-bottom: 4px solid #b5b5b5;
					border-left: 4px solid transparent;
					position: absolute;
					right: 2px;
					bottom: 2px;
				}
			}
		}

		.ToolBoxButton {
			-webkit-appearance: none;
			display: block;
			border: none;
			background: none;
			img {
				display: block;
				width: 18px;
				height: 18px;
				margin: 5px;
				opacity: 0.6;
			}
			&:hover {
				img {
					opacity: 1;
				}
			}
			&.active {
				background: #1e1e1e;
				border-radius: 2px;
				img {
					opacity: 1;
				}
			}
		}
		.ToolBoxButtonSubGroup {
			display: none;
			position: absolute;
			left: 36px;
			top: 0;
			padding: 4px;
			background: #353535;
			border: 1px solid #000;
			&.visible {
				display: block;
			}
			.ToolBoxButton {
				width: 160px;
				padding-left: 10px;
				&:hover {
					background-color: #282828 !important;
				}
				&.active {
					background: none;
					&:after {
						content: "";
						width: 4px;
						height: 4px;
						border-left: 4px solid #b5b5b5;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						position: absolute;
						left: 3px;
						top: 9px;
					}
					.ToolBoxButtonName {
						color: #fff;
					}
				}
				img {
					float:left;
				}
				.ToolBoxButtonName {
					float: left;
					display: block;
					height: 28px;
					line-height: 28px;
					color: #aeaeae;
				}
			}
		}
	}
}

.tool-box-button-modal {
	.ant-modal-content {
		border-radius: 2px;
		border: 1px solid #353535;
		background-color: #353535;
		.ant-modal-header {
			//height: 40px;
			background-color: #545454;
			padding: 0;
			border-radius: 0;
			border:none;
			.ant-modal-title {
				.title {
					color: #fff;
					height: 40px;
					span {
						height: 40px;
						line-height: 40px;
						font-weight: normal;
						vertical-align: top;
					}
				}

			}
		}
		.ant-modal-body {
			padding: 9.5px 9.5px 0 9.5px;
			.body-textarea {
				width: 469px;
				height: 200px;
				background-color: #2f2f2f;
				resize: none;
				border:1px solid #232323;
				color: #fff;
			}
		}
		.ant-modal-footer {
			border: none;
			text-align: center;
			height: 66px;
			padding: 20px 0;
			.ant-btn-lg {
				padding: 0;
				border-radius: 2px;
				width: 100px;
				height: 26px;
				color: #262626;
				font-weight: normal;
				line-height: 24px;
			}
			.ant-btn-ghost {
				border: 1px solid #7b7b7b;
				background-color: #7b7b7b;
				&:hover {
					border: 1px solid #b5b5b5;
					background-color: #b5b5b5;
				}
				&:active {
					border: 1px solid #545454;
					background-color: #545454;
				}
			}
			.ant-btn-primary {
				margin-left: 40px;
				border: 1px solid #b5b5b5;
				background-color: #b5b5b5;
				&:hover {
					border: 1px solid #ffffff;
					background-color: #ffffff;
				}
				&:active {
					border: 1px solid #545454;
					background-color: #545454;
				}
			}
 		}
	}
}