html, body{
    overflow: hidden !important;
}

body{
    background: #151515 !important;
	overflow: hidden !important;
}

.hidden {
	display: none !important;
}

#iH5-App-Container,
#iH5-App,
#DesignView-Container {
	height: 100%;
}
#DesignView-Container {
	overflow: hidden;
}