
/**
 * <h2> 颜色
 */

// 主色
$colorPrimary: #ffa600;

// 分隔线边框色
$colorSplitBorder: #151515;
// 导航类背景色
$colorNavBackground: #353535;
// 属性类面板背景色
$colorPanelBackground: #232323;
// 舞台背景色
$colorStageBackground: #151515;